openapi: 3.0.3
info:
  title: 'Lightspeed: /jito'
  description: |-
    Forward a bundle to the Jito block engine through Lightspeed. Lightspeed validates that **at least one** transaction in the bundle carries a qualifying tip to a recognised Lightspeed tip address, appends its own Jito tip transaction, and sends the bundle.

    Static tip addresses accepted here fall back to the `/lightspeed` route's list; dynamic addresses issued from `/lightspeed/fetchtipaddress` are always accepted.

    A bundle may contain **at most 4** of your transactions (a 5th slot is reserved for Lightspeed's Jito tip). Transactions are checked last-to-first, so put the tipping transaction **last** for the fastest tip-validation path.
  version: 1.0.0
  contact:
    name: Solana Vibe Station
    url: https://www.solanavibestation.com
  license:
    name: MIT OR Apache-2.0
    url: https://opensource.org/licenses/MIT
servers:
- url: https://basic.rpc.solanavibestation.com
  description: Basic tier with Lightspeed
- url: https://ultra.rpc.solanavibestation.com
  description: Ultra tier with Lightspeed
- url: https://elite.rpc.solanavibestation.com
  description: Elite tier with Lightspeed
- url: https://epic.rpc.solanavibestation.com
  description: Epic tier with Lightspeed
- url: https://basic.swqos.solanavibestation.com
  description: Basic SWQoS tier with Lightspeed
- url: https://ultra.swqos.solanavibestation.com
  description: Ultra SWQoS tier with Lightspeed
- url: https://elite.swqos.solanavibestation.com
  description: Elite SWQoS tier with Lightspeed
tags:
- name: Lightspeed
  description: Low-latency transaction landing via the SVS Lightspeed engine.
paths:
  /jito:
    post:
      operationId: lightspeedSendJitoBundle
      summary: sendBundle — Forward a Jito bundle via Lightspeed
      tags:
      - Lightspeed
      description: |
        Standard JSON-RPC `sendBundle` request. On success, returns the block engine's `sendBundle` response passed through (the `result` is the bundle id).

        **Bundle contents**

        - Up to 4 user transactions, base58- or base64-encoded serialized transactions.
        - At least one transaction must carry a qualifying tip. Put it **last** for the fastest tip-validation path.

        **Errors**

        - `400` — not an array, empty, more than 4 transactions, or no transaction carries a qualifying tip.
        - `404` — `/jito` is not enabled on this edge.
        - `500` — Lightspeed could not build its tip transaction or every block engine refused the bundle.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sendBundle
                  example: sendBundle
                params:
                  type: array
                  description: 'Positional parameters: `[[tx1, tx2, ...]]` — a single-element array containing the transaction array.'
                  minItems: 1
                  maxItems: 1
                  items:
                    type: array
                    minItems: 1
                    maxItems: 4
                    items:
                      type: string
                      description: Serialized, signed transaction (base58 or base64).
            examples:
              default:
                summary: Two-transaction bundle with the tipping transaction last.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sendBundle
                  params:
                  - - <tx1_base64>
                    - <tx2_tipping_base64>
      responses:
        '200':
          description: Bundle accepted by Jito. Returns the block engine's response passed through.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: string
                      description: Jito bundle id.
              example:
                jsonrpc: '2.0'
                id: 1
                result: 5t1H9Xk3Kv2Zn4Pq...
        '400':
          description: Malformed bundle or no qualifying tip.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcErrorResponse'
        '404':
          description: '`/jito` is not enabled on this edge.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcErrorResponse'
        '500':
          description: Could not build the tip transaction, or every block engine refused the bundle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcErrorResponse'
      security: &id001
      - AuthHeader: []
      - URLParameter: []
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://basic.swqos.solanavibestation.com/jito \
            -H "Content-Type: application/json" \
            -H "Authorization: your-api-key-here" \
            -d '{
              "jsonrpc": "2.0",
              "id": 1,
              "method": "sendBundle",
              "params": [
                [
                  "<tx1_base64>",
                  "<tx2_tipping_base64>"
                ]
              ]
            }'
      - lang: javascript
        label: JavaScript
        source: |-
          const res = await fetch(
            "https://basic.swqos.solanavibestation.com/jito",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                Authorization: "your-api-key-here",
              },
              body: JSON.stringify({
                jsonrpc: "2.0",
                id: 1,
                method: "sendBundle",
                params: [[tx1Base64, tipTxBase64]],
              }),
            },
          );
          const { result: bundleId } = await res.json();
          console.log(`bundle=${bundleId}`);
      - lang: python
        label: Python
        source: |-
          import requests

          resp = requests.post(
              "https://basic.swqos.solanavibestation.com/jito",
              headers={"Authorization": "your-api-key-here"},
              json={
                  "jsonrpc": "2.0",
                  "id": 1,
                  "method": "sendBundle",
                  "params": [[tx1_base64, tip_tx_base64]],
              },
              timeout=10,
          ).json()
          print(f"bundle={resp['result']}")
components:
  schemas:
    JsonRpcEnvelope:
      type: object
      required:
      - jsonrpc
      - id
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
    JsonRpcErrorResponse:
      type: object
      required:
      - jsonrpc
      - id
      - error
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
        error:
          $ref: '#/components/schemas/JsonRpcError'
    JsonRpcError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          additionalProperties: true
  securitySchemes:
    AuthHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass `Authorization: <api-key>` on each request.'
    URLParameter:
      type: apiKey
      in: query
      name: api_key
      description: Pass `?api_key=<api-key>` on the URL.
security: *id001
