# Generated by scripts/generate-rpc-specs.py — edit the generator, not this file.
openapi: 3.0.3
info:
  title: 'Solana RPC: getBlockHeight'
  description: '`getBlockHeight` Solana JSON-RPC method. All methods POST to the root path (`/`) of the chosen SVS RPC server with the method name in the JSON-RPC request body.'
  version: 1.0.0
  contact:
    name: Solana Vibe Station
    url: https://www.solanavibestation.com
  license:
    name: MIT OR Apache-2.0
    url: https://opensource.org/licenses/MIT
servers:
- url: https://public.rpc.solanavibestation.com
  description: Public endpoint (rate-limited, no auth)
- url: https://lite.rpc.solanavibestation.com
  description: Lite tier
- url: https://basic.rpc.solanavibestation.com
  description: Basic tier
- url: https://ultra.rpc.solanavibestation.com
  description: Ultra tier
- url: https://elite.rpc.solanavibestation.com
  description: Elite tier
- url: https://epic.rpc.solanavibestation.com
  description: Epic tier
- url: https://basic.swqos.solanavibestation.com
  description: Basic tier with Stake-Weighted QoS
- url: https://ultra.swqos.solanavibestation.com
  description: Ultra tier with Stake-Weighted QoS
- url: https://elite.swqos.solanavibestation.com
  description: Elite tier with Stake-Weighted QoS
tags:
- name: Block
  description: Solana RPC block method.
paths:
  /:
    post:
      operationId: getBlockHeight
      summary: getBlockHeight — Current block height
      tags:
      - Block
      description: |
        Returns the current block height of the node. Block height is the number of blocks that have been produced since the genesis block. This is different from slot numbers, as blocks represent confirmed batches of transactions.
        **Parameters**

        0. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlockHeight
                  description: Must be `getBlockHeight`.
                  example: getBlockHeight
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 0
                  maxItems: 1
                  items:
                    anyOf:
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlockHeight
                  params:
                  - commitment: finalized
      responses:
        '200':
          description: Successful `getBlockHeight` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: integer
                      format: int64
                      description: Current block height.
                      example: 395090168
              example:
                jsonrpc: '2.0'
                id: 1
                result: 395090168
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: &id001
      - {}
      - AuthHeader: []
      - URLParameter: []
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{
              "jsonrpc": "2.0",
              "id": 1,
              "method": "getBlockHeight",
              "params": [
                {
                  "commitment": "finalized"
                }
              ]
            }'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          print(client.get_block_height().value)
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          console.log(await connection.getBlockHeight());
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          println!("{}", client.get_block_height()?);
components:
  schemas:
    JsonRpcEnvelope:
      type: object
      required:
      - jsonrpc
      - id
      description: Base envelope of every JSON-RPC 2.0 response.
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
          example: '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
          description: Echoed request id.
          example: 1
    JsonRpcErrorResponse:
      type: object
      required:
      - jsonrpc
      - id
      - error
      description: JSON-RPC 2.0 error response.
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
        error:
          $ref: '#/components/schemas/JsonRpcError'
    JsonRpcError:
      type: object
      required:
      - code
      - message
      description: Structured JSON-RPC error.
      properties:
        code:
          type: integer
          description: |
            Numeric error code per JSON-RPC 2.0 spec. Common values:
            - `-32700` Parse error
            - `-32600` Invalid Request
            - `-32601` Method not found
            - `-32602` Invalid params
            - `-32603` Internal error
            - `-32003` Unauthorized
            - `-32005` Too Many Requests
            - `-32015` Transaction version not supported
          example: -32602
        message:
          type: string
          example: Invalid params
        data:
          type: object
          additionalProperties: true
    Context:
      type: object
      description: RPC context block returned alongside most account-level results.
      required:
      - slot
      properties:
        slot:
          type: integer
          format: int64
          example: 416997240
        apiVersion:
          type: string
          example: 3.1.10
    Commitment:
      type: string
      enum:
      - processed
      - confirmed
      - finalized
      default: finalized
      description: |-
        How finalized a block is at query time:
        - `processed`: most recent block, may be skipped
        - `confirmed`: block confirmed by supermajority of cluster
        - `finalized`: block finalized by the cluster (>2/3 stake)
    Encoding:
      type: string
      enum:
      - json
      - jsonParsed
      - base58
      - base64
      - base64+zstd
      description: Encoding for transaction or account data.
    TransactionDetails:
      type: string
      enum:
      - full
      - accounts
      - signatures
      - none
      description: Level of transaction detail to return on block queries.
    AccountInfo:
      type: object
      description: On-chain account state.
      nullable: true
      required:
      - lamports
      - owner
      - executable
      - rentEpoch
      - data
      properties:
        lamports:
          type: integer
          format: int64
          description: Balance in lamports.
        owner:
          type: string
          description: Base-58 program id that owns the account.
        executable:
          type: boolean
        rentEpoch:
          type: integer
          format: int64
        space:
          type: integer
          description: Data length in bytes.
        data:
          description: Account data; encoding depends on request encoding.
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          - type: object
            additionalProperties: true
    UiTokenAmount:
      type: object
      required:
      - amount
      - decimals
      - uiAmountString
      description: Token amount with both raw and UI representations.
      properties:
        amount:
          type: string
          description: Raw amount, ignoring decimals.
        decimals:
          type: integer
        uiAmount:
          type: number
          nullable: true
        uiAmountString:
          type: string
  responses:
    UnauthorizedError:
      description: Authentication required or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    ForbiddenError:
      description: Insufficient permissions for the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    TooManyRequestsError:
      description: Rate limit exceeded for this tier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    InternalServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
  securitySchemes:
    AuthHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass `Authorization: <api-key>` on each request.'
    URLParameter:
      type: apiKey
      in: query
      name: api_key
      description: Pass `?api_key=<api-key>` on the URL.
security: *id001
