openapi: 3.0.3
info:
  title: 'Rewind RPC: getAccountInfo'
  description: |-
    Point-in-time historical account lookup against the Rewind archive.

    Returns the on-chain state of `pubkey` at a chosen historical position. Wire-format matches Solana's standard `getAccountInfo` so existing SDKs deserialize the response unchanged; the only addition is a `rewindSlot` field on the result so callers can see which slot the returned version actually lives at.

    Two positioning modes are supported via the `config` object — exactly one must be used:

    - **End-of-slot** (`slot: N`) — returns the latest version of the account at or before slot N.
    - **Per-transaction anchored** (`anchor: { signature, position }`) — positions immediately before or after a known transaction. Useful for "what state did this tx see?" / "what did it leave behind?" without needing to know the slot in advance.

    There is no "latest" mode — `slot` (or an `anchor` whose signature implies one) is always required.
  version: 1.0.0
  contact:
    name: Solana Vibe Station
    url: https://www.solanavibestation.com
  license:
    name: MIT OR Apache-2.0
    url: https://opensource.org/licenses/MIT
servers:
- url: https://public.rpc.solanavibestation.com
  description: Public endpoint (rate-limited, no auth)
- url: https://basic.rpc.solanavibestation.com
  description: Basic tier
- url: https://ultra.rpc.solanavibestation.com
  description: Ultra tier
- url: https://elite.rpc.solanavibestation.com
  description: Elite tier
- url: https://epic.rpc.solanavibestation.com
  description: Epic tier
tags:
- name: Rewind
  description: Historical account state and per-write change history.
paths:
  /rewind:
    post:
      operationId: getAccountInfo
      summary: getAccountInfo — Historical account lookup at a chosen slot or transaction
      tags:
      - Rewind
      description: |
        Returns the state of `pubkey` at a chosen historical position.

        **Parameters**

        0. `pubkey` (required) — base58 account pubkey.
        1. `config` (required) — positioning + encoding options. Either `slot` (end-of-slot) or `anchor` (per-transaction) must be set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getAccountInfo
                  description: Must be `getAccountInfo`.
                  example: getAccountInfo
                params:
                  type: array
                  description: Positional parameters [pubkey, config].
                  minItems: 2
                  maxItems: 2
                  items:
                    anyOf:
                    - title: pubkey
                      type: string
                      description: Account pubkey, base58-encoded.
                    - title: config
                      type: object
                      description: Positioning + encoding options.
                      properties:
                        slot:
                          type: integer
                          format: int64
                          description: End-of-slot boundary. Required unless `anchor` is set; rejected when `anchor` is set.
                        anchor:
                          $ref: '#/components/schemas/Anchor'
                        encoding:
                          $ref: '#/components/schemas/Encoding'
                        dataSlice:
                          $ref: '#/components/schemas/DataSlice'
                        commitment:
                          type: string
                          description: Accepted for compatibility; ignored. The archive only stores rooted data.
                        tolerateGaps:
                          type: boolean
                          default: false
                          description: When `false` (default), queries that resolve to a slot inside a known MISSING/UNKNOWN archive gap return `-32018 SlotInArchiveGap`. Set `true` to bypass and accept potentially-stale at-or-before data.
            examples:
              end_of_slot:
                summary: End-of-slot read.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getAccountInfo
                  params:
                  - SysvarC1ock11111111111111111111111111111111
                  - slot: 250000000
                    encoding: base64
              json_parsed:
                summary: jsonParsed against an SPL token account.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getAccountInfo
                  params:
                  - <token-account-pubkey>
                  - slot: 250000000
                    encoding: jsonParsed
              data_slice:
                summary: dataSlice with base64.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getAccountInfo
                  params:
                  - <pubkey>
                  - slot: 250000000
                    encoding: base64
                    dataSlice:
                      offset: 0
                      length: 32
              anchor_before:
                summary: State immediately before a known signature ran.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getAccountInfo
                  params:
                  - <pubkey>
                  - anchor:
                      signature: <sig>
                      position: before
                    encoding: base64
              anchor_after:
                summary: State immediately after that same tx finished writing.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getAccountInfo
                  params:
                  - <pubkey>
                  - anchor:
                      signature: <sig>
                      position: after
      responses:
        '200':
          description: Successful `getAccountInfo` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/RewindContext'
                        value:
                          $ref: '#/components/schemas/AccountInfo'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    apiVersion: rewind-1.2.0
                    slot: 250000000
                  value:
                    lamports: 88849814690250
                    owner: '11111111111111111111111111111111'
                    data:
                    - ''
                    - base64
                    executable: false
                    rentEpoch: 361
                    space: 0
                    rewindSlot: 249999998
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: &id001
      - {}
      - AuthHeader: []
      - URLParameter: []
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com/rewind \
            -H "Content-Type: application/json" \
            -d '{
              "jsonrpc": "2.0",
              "id": 1,
              "method": "getAccountInfo",
              "params": [
                "SysvarC1ock11111111111111111111111111111111",
                {
                  "slot": 250000000,
                  "encoding": "base64"
                }
              ]
            }'
      - lang: javascript
        label: JavaScript
        source: |-
          // Rewind doesn't have a typed JS client yet; call via fetch.
          const res = await fetch("https://public.rpc.solanavibestation.com", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              jsonrpc: "2.0",
              id: 1,
              method: "getAccountInfo",
              params: [
                "SysvarC1ock11111111111111111111111111111111",
                { slot: 250_000_000, encoding: "base64" },
              ],
            }),
          });
          const { result, error } = await res.json();
          if (error) throw error;
          console.log("rewindSlot=", result.value?.rewindSlot);
      - lang: python
        label: Python
        source: |-
          import requests

          resp = requests.post(
              "https://public.rpc.solanavibestation.com",
              json={
                  "jsonrpc": "2.0",
                  "id": 1,
                  "method": "getAccountInfo",
                  "params": [
                      "SysvarC1ock11111111111111111111111111111111",
                      {"slot": 250_000_000, "encoding": "base64"},
                  ],
              },
              timeout=10,
          ).json()
          if "error" in resp:
              raise RuntimeError(resp["error"])
          print("rewindSlot=", resp["result"]["value"]["rewindSlot"])
      - lang: rust
        label: Rust
        source: |-
          use reqwest::Client;
          use serde_json::json;

          let body = json!({
              "jsonrpc": "2.0",
              "id": 1,
              "method": "getAccountInfo",
              "params": [
                  "SysvarC1ock11111111111111111111111111111111",
                  { "slot": 250_000_000, "encoding": "base64" }
              ]
          });
          let resp: serde_json::Value = Client::new()
              .post("https://public.rpc.solanavibestation.com")
              .json(&body)
              .send().await?.json().await?;
          println!("rewindSlot={}", resp["result"]["value"]["rewindSlot"]);
components:
  schemas:
    JsonRpcEnvelope:
      type: object
      required:
      - jsonrpc
      - id
      description: Base envelope of every JSON-RPC 2.0 response.
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
          example: '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
          description: Echoed request id.
          example: 1
    JsonRpcErrorResponse:
      type: object
      required:
      - jsonrpc
      - id
      - error
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
        error:
          $ref: '#/components/schemas/JsonRpcError'
    JsonRpcError:
      type: object
      required:
      - code
      - message
      description: |
        Structured JSON-RPC error. Rewind-specific codes:

        - `-32014` Slot not available (future) — past `latestSlot`.
        - `-32015` Slot before earliest — older than `earliestSlot`.
        - `-32016` Signature not found — `anchor.signature` not indexed.
        - `-32017` FilteredAccountStale — simulation refused (filter set).
        - `-32018` SlotInArchiveGap — resolved load slot inside a known gap.
      properties:
        code:
          type: integer
          example: -32018
        message:
          type: string
          example: 'slot 415917125 falls inside an archive gap [415917124..415917127] (status=missing)'
        data:
          type: object
          additionalProperties: true
          description: For `-32018`, includes `queriedSlot`, `gapStart`, `gapEnd`, `gapStatus`.
    Encoding:
      type: string
      enum:
      - base64
      - base64+zstd
      - base58
      - jsonParsed
      default: base64
      description: |-
        Encoding for account data:
        - `base64` — standard base64.
        - `base64+zstd` — zstd-compressed (level 3) then base64'd.
        - `base58` — bs58. Rejected if post-`dataSlice` length > 129 bytes.
        - `jsonParsed` — solana-account-decoder for the standard parsable program set; falls back to `base64` for others.
    DataSlice:
      type: object
      required:
      - offset
      - length
      description: Byte-slice applied to the account's data before encoding. Rejected with `jsonParsed`.
      properties:
        offset:
          type: integer
          format: int64
          minimum: 0
        length:
          type: integer
          format: int64
          minimum: 0
    Anchor:
      type: object
      required:
      - signature
      description: |-
        Per-tx positioning. `signature` is resolved through `transaction_positions` to its `(slot, first_wv, last_wv)` triple. `position` selects the boundary:
        - `"before"` (default) — load at `(slot, first_wv − 1)`. State the named tx itself read.
        - `"after"` — load at `(slot, last_wv)`. State immediately after the tx finished writing.
      properties:
        signature:
          type: string
          description: Base58 transaction signature.
        position:
          type: string
          enum:
          - before
          - after
          default: before
    RewindContext:
      type: object
      required:
      - apiVersion
      - slot
      properties:
        apiVersion:
          type: string
          example: rewind-1.2.0
        slot:
          type: integer
          format: int64
          description: The resolved load slot. For end-of-slot calls this echoes the request's `slot`. For `anchor` calls this is the slot the signature resolves to (which the caller does not have to know in advance).
          example: 250000000
    AccountInfo:
      type: object
      nullable: true
      description: Account state, or `null` when no version exists at or before the resolved slot.
      required:
      - lamports
      - owner
      - data
      - executable
      - rentEpoch
      - space
      - rewindSlot
      properties:
        lamports:
          type: integer
          format: int64
          description: Balance in lamports after this version.
        owner:
          type: string
          description: Base58 program id that owns the account.
        data:
          oneOf:
          - type: array
            description: '[<encoded string>, "<encoding>"] for base64 / base64+zstd / base58.'
            items:
              type: string
            minItems: 2
            maxItems: 2
          - type: object
            description: 'For `jsonParsed` (decoder succeeded): `{ "program": "...", "parsed": {...}, "space": <n> }`. Falls back to the `[encoded, encoding]` array form when the program is not parsable.'
            additionalProperties: true
        executable:
          type: boolean
        rentEpoch:
          type: integer
          format: int64
        space:
          type: integer
          format: int64
          description: Original (pre-`dataSlice`) byte length.
        rewindSlot:
          type: integer
          format: int64
          description: Rewind extension. Actual slot of the version returned (≤ `context.slot`). When this is less than the queried slot, it means the account wasn't written in the queried slot and the value carries forward from an earlier slot. Useful as a cache key and for audit / "data is from slot X" UI.
  responses:
    UnauthorizedError:
      description: Authentication required or invalid (terminated upstream at the SVS load balancer).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    ForbiddenError:
      description: Insufficient permissions for the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    TooManyRequestsError:
      description: Rate limit exceeded for this tier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    InternalServerError:
      description: Unexpected server error. Treat as transient; safe to retry.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
  securitySchemes:
    AuthHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass `Authorization: <api-key>` on each request. Auth is terminated upstream at the SVS load balancer.'
    URLParameter:
      type: apiKey
      in: query
      name: api_key
      description: Pass `?api_key=<api-key>` on the URL.
security: *id001
