openapi: 3.0.3
info:
  title: 'Rewind RPC: simulateHistoricalTransaction'
  description: |-
    Runs a transaction against the Rewind archive's account state at a specified historical position. Mirrors Solana's `simulateTransaction` response shape, pinned to historical state.

    Use cases: post-mortem analysis, debugging failed txs against the exact pre-state they saw, deterministic-replay validation, opportunity research at known historical moments.

    **Position resolution.** Two positioning modes are supported:

    1. **`anchor` set** — signature is looked up in the archive index and used as the boundary. `query_slot` and `load_slot` are derived from the signature; `position: "before"` loads state the named tx itself read, `position: "after"` loads state immediately after the named tx finished writing. `preStateSlot` is ignored.
    2. **`slot` only** — `query_slot = slot`, `load_slot = preStateSlot ?? slot` (end-of-slot).

    ALTs always resolve at `query_slot` regardless of which path was taken.

    **Filter set.** Simulations that touch a filtered owner / pubkey are refused with `-32017 FilteredAccountStale`. See `getRewindCoverage.filteredOwners`.
  version: 1.0.0
  contact:
    name: Solana Vibe Station
    url: https://www.solanavibestation.com
  license:
    name: MIT OR Apache-2.0
    url: https://opensource.org/licenses/MIT
servers:
- url: https://public.rpc.solanavibestation.com
  description: Public endpoint (rate-limited, no auth)
- url: https://basic.rpc.solanavibestation.com
  description: Basic tier
- url: https://ultra.rpc.solanavibestation.com
  description: Ultra tier
- url: https://elite.rpc.solanavibestation.com
  description: Elite tier
- url: https://epic.rpc.solanavibestation.com
  description: Epic tier
tags:
- name: Rewind
  description: Historical transaction simulation.
paths:
  /:
    post:
      operationId: simulateHistoricalTransaction
      summary: simulateHistoricalTransaction — Replay a transaction against historical state
      tags:
      - Rewind
      description: |
        Replays a transaction against the archive's account state at a specified slot. Mirrors Solana's `simulateTransaction` response shape, pinned to historical state.

        **Parameters**

        0. `transaction` (required) — base64 (default) or base58 encoded transaction.
        1. `config` (required) — see fields below. `slot` is required unless `anchor` is provided.

        Requires `[replay].live_rpc_endpoint` to be configured server-side. Without it returns `-32603` with a clear "simulator disabled" message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - simulateHistoricalTransaction
                  example: simulateHistoricalTransaction
                params:
                  type: array
                  description: Positional parameters [transaction, config].
                  minItems: 2
                  maxItems: 2
                  items:
                    anyOf:
                    - title: transaction
                      type: string
                      description: Encoded transaction (base64 by default; configurable via `config.encoding`).
                    - title: config
                      type: object
                      properties:
                        slot:
                          type: integer
                          format: int64
                          description: Required unless `anchor` is provided. Slot at which to load ALTs and account state.
                        anchor:
                          $ref: '#/components/schemas/Anchor'
                        preStateSlot:
                          type: integer
                          format: int64
                          description: Advanced — load non-ALT account state at this slot instead of `slot`. Common pattern `slot - 1` for "as if this tx ran at slot start". Ignored when `anchor` is set.
                        encoding:
                          type: string
                          enum:
                          - base64
                          - base58
                          default: base64
                          description: Encoding of the transaction parameter.
                        innerInstructions:
                          type: boolean
                          default: false
                        accounts:
                          type: object
                          description: Post-state of these accounts is returned in `result.value.accounts`.
                          required:
                          - encoding
                          - addresses
                          properties:
                            encoding:
                              type: string
                              enum:
                              - base64
                            addresses:
                              type: array
                              items:
                                type: string
                              description: Base58 pubkeys.
                        sigVerify:
                          type: boolean
                          description: Accepted for compatibility; ignored.
                        replaceRecentBlockhash:
                          type: boolean
                          description: Accepted for compatibility; ignored.
                        commitment:
                          type: string
                          description: Accepted for compatibility; ignored.
                        tolerateGaps:
                          type: boolean
                          default: false
                          description: When `false` (default), simulations whose resolved `load_slot` lands inside a known MISSING/UNKNOWN gap return `-32018 SlotInArchiveGap`.
            examples:
              end_of_slot:
                summary: End-of-slot simulation.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: simulateHistoricalTransaction
                  params:
                  - <base64-tx>
                  - slot: 250000000
                    encoding: base64
                    innerInstructions: true
                    accounts:
                      encoding: base64
                      addresses:
                      - <pubkey>
              anchor_before:
                summary: Anchor-positioned (just before a known signature).
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: simulateHistoricalTransaction
                  params:
                  - <base64-tx>
                  - encoding: base64
                    anchor:
                      signature: <base58-sig>
                      position: before
      responses:
        '200':
          description: Successful simulation. Failed transactions still return logs and `unitsConsumed`; the application-level error is reported in `result.value.err`.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/RewindContext'
                        value:
                          $ref: '#/components/schemas/SimulateValue'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    apiVersion: rewind-1.2.0
                    slot: 250000000
                  value:
                    err: null
                    logs:
                    - 'Program log: Instruction: Transfer'
                    accounts:
                    - lamports: 100000
                      owner: <base58>
                      data:
                      - ''
                      - base64
                      executable: false
                      rentEpoch: 361
                      space: 165
                    unitsConsumed: 3458
                    returnData: null
                    innerInstructions:
                    - index: 0
                      instructions:
                      - programIdIndex: 5
                        accounts:
                        - 1
                        - 2
                        data: <base58>
                        stackHeight: 2
                    rewindSlot: 250000000
                    rewindLoadSlot: 250000000
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: &id001
      - {}
      - AuthHeader: []
      - URLParameter: []
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"simulateHistoricalTransaction","params":["<base64-tx>",{"slot":250000000,"encoding":"base64","innerInstructions":true}]}'
      - lang: javascript
        label: JavaScript
        source: |-
          const res = await fetch("https://public.rpc.solanavibestation.com", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              jsonrpc: "2.0", id: 1, method: "simulateHistoricalTransaction",
              params: [
                txBase64,
                {
                  anchor: { signature: sig, position: "before" },
                  encoding: "base64",
                  innerInstructions: true,
                  accounts: { encoding: "base64", addresses: [poolAccount] },
                },
              ],
            }),
          });
          const { result } = await res.json();
          console.log("err=", result.value.err);
          console.log("CU=", result.value.unitsConsumed);
          console.log("logs=", result.value.logs);
      - lang: python
        label: Python
        source: |-
          import requests

          resp = requests.post(
              "https://public.rpc.solanavibestation.com",
              json={
                  "jsonrpc": "2.0", "id": 1,
                  "method": "simulateHistoricalTransaction",
                  "params": [
                      tx_base64,
                      {
                          "anchor": {"signature": sig, "position": "before"},
                          "encoding": "base64",
                          "innerInstructions": True,
                      },
                  ],
              },
              timeout=30,
          ).json()
          v = resp["result"]["value"]
          print("err=", v["err"])
          print("CU=", v["unitsConsumed"])
      - lang: rust
        label: Rust
        source: |-
          use reqwest::Client;
          use serde_json::json;

          let body = json!({
              "jsonrpc": "2.0", "id": 1,
              "method": "simulateHistoricalTransaction",
              "params": [
                  tx_base64,
                  {
                      "anchor": { "signature": sig, "position": "before" },
                      "encoding": "base64",
                      "innerInstructions": true
                  }
              ]
          });
          let resp: serde_json::Value = Client::new()
              .post("https://public.rpc.solanavibestation.com")
              .json(&body)
              .send().await?.json().await?;
          println!("err={}", resp["result"]["value"]["err"]);
          println!("CU={}", resp["result"]["value"]["unitsConsumed"]);
components:
  schemas:
    JsonRpcEnvelope:
      type: object
      required:
      - jsonrpc
      - id
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
    JsonRpcErrorResponse:
      type: object
      required:
      - jsonrpc
      - id
      - error
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
        error:
          $ref: '#/components/schemas/JsonRpcError'
    JsonRpcError:
      type: object
      required:
      - code
      - message
      description: |
        Method-specific codes:
        - `-32014` `slot` past `latestSlot`.
        - `-32015` `slot` older than `earliestSlot`.
        - `-32016` `anchor.signature` not in `transaction_positions`.
        - `-32017` FilteredAccountStale — tx touches an account in the filter set.
        - `-32018` SlotInArchiveGap — resolved `load_slot` inside a known MISSING/UNKNOWN gap.
        - `-32603` Simulator disabled / live-RPC failure / ALT not in archive.
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          additionalProperties: true
    Anchor:
      type: object
      required:
      - signature
      properties:
        signature:
          type: string
          description: Base58 transaction signature. Slot derived from `transaction_positions`.
        position:
          type: string
          enum:
          - before
          - after
          default: before
    RewindContext:
      type: object
      required:
      - apiVersion
      - slot
      properties:
        apiVersion:
          type: string
          example: rewind-1.2.0
        slot:
          type: integer
          format: int64
          description: The resolved query/load slot.
    SimulateValue:
      type: object
      required:
      - logs
      - unitsConsumed
      - rewindSlot
      - rewindLoadSlot
      properties:
        err:
          type: object
          nullable: true
          additionalProperties: true
          description: '`null` on success; on failure, a structured `TransactionError` matching Solana''s wire shape.'
        logs:
          type: array
          description: Program log stream from execution.
          items:
            type: string
        accounts:
          type: array
          description: Post-state of the addresses listed in `config.accounts.addresses`, in order. Entries the tx didn't touch are emitted as null in the wire format.
          items:
            type: object
            additionalProperties: true
        unitsConsumed:
          type: integer
          format: int64
        returnData:
          type: object
          nullable: true
          additionalProperties: true
          description: Program-emitted return data when set; null otherwise.
        innerInstructions:
          type: array
          description: 'Present when `config.innerInstructions = true`. Each entry: `{ index, instructions[] }` — one per outer instruction that produced inner instructions.'
          items:
            type: object
            additionalProperties: true
        rewindSlot:
          type: integer
          format: int64
          description: Rewind extension. Natural slot used for ALT resolution.
        rewindLoadSlot:
          type: integer
          format: int64
          description: Rewind extension. Slot at which non-ALT account state was loaded; equals `rewindSlot` unless `preStateSlot` overrode it.
  responses:
    UnauthorizedError:
      description: Authentication required or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    ForbiddenError:
      description: Insufficient permissions for the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    TooManyRequestsError:
      description: Rate limit exceeded for this tier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    InternalServerError:
      description: Unexpected server error. Includes simulator-disabled / HBase / live-RPC failures.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
  securitySchemes:
    AuthHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass `Authorization: <api-key>` on each request.'
    URLParameter:
      type: apiKey
      in: query
      name: api_key
      description: Pass `?api_key=<api-key>` on the URL.
security: *id001
