# Generated by scripts/generate-rpc-specs.py — edit the generator, not this file.
openapi: 3.0.3
info:
  title: Solana Vibe Station Historical RPC
  description: |
    Historical Solana JSON-RPC 2.0 endpoints hosted by Solana Vibe Station,
    served from long-term ledger storage.

    All requests POST to **`/historical`** on the chosen server URL. The
    per-method paths shown here (e.g. `/historical/getBlock`) are
    documentation groupings so each operation renders separately.
  version: 1.0.0
  contact:
    name: Solana Vibe Station
    url: https://www.solanavibestation.com
  license:
    name: MIT OR Apache-2.0
    url: https://opensource.org/licenses/MIT
servers:
- url: https://public.rpc.solanavibestation.com
  description: Public endpoint, /historical path (rate-limited)
- url: https://basic.rpc.solanavibestation.com
  description: Basic tier, /historical path
- url: https://ultra.rpc.solanavibestation.com
  description: Ultra tier, /historical path
- url: https://elite.rpc.solanavibestation.com
  description: Elite tier, /historical path
- url: https://epic.rpc.solanavibestation.com
  description: Epic tier, /historical path
tags:
- name: Block
  description: Historical block lookups.
- name: Transactions
  description: Historical transactions and signatures.
- name: Slots
  description: Historical slot range.
paths:
  /historical/getBlock:
    post:
      operationId: getBlock
      summary: getBlock — Historical block by slot
      tags:
      - Block
      description: |
        Returns identity and transaction information about a historical block by slot, served from SVS's long-term ledger storage.

        > **How to call this method**
        >
        > Historical Solana RPC requests POST to **`/historical`** on the chosen
        > SVS server. The path shown above (e.g. `/historical/getBlock`) is a
        > documentation grouping — it lets each historical method render as its
        > own operation. The actual method dispatch happens via the `method`
        > field in the request body.

        **Parameters**

        0. `slot` (required) — Slot number.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlock
                  description: Must be `getBlock`.
                  example: getBlock
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBlock
              params:
              - 178000000
              - maxSupportedTransactionVersion: 0
                transactionDetails: full
      responses:
        '200':
          description: Successful `getBlock` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      properties:
                        blockhash:
                          type: string
                        previousBlockhash:
                          type: string
                        parentSlot:
                          type: integer
                          format: int64
                        blockHeight:
                          type: integer
                          format: int64
                        blockTime:
                          type: integer
                          format: int64
                          nullable: true
                        transactions:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  blockhash: 3Eq21vXNB5s86c62bVuUfTeaMif1N2kUqRPBmGRJhyTA
                  previousBlockhash: mfcyqEXB3DnHXki6KjjmZck6YjmZLvpAByy2fj4nh6B
                  parentSlot: 177999999
                  blockHeight: 162345678
                  blockTime: 1700000000
                  transactions: []
        '401': &id001
          $ref: '#/components/responses/UnauthorizedError'
        '403': &id002
          $ref: '#/components/responses/ForbiddenError'
        '429': &id003
          $ref: '#/components/responses/TooManyRequestsError'
        '500': &id004
          $ref: '#/components/responses/InternalServerError'
      security: &id005
      - {}
      - AuthHeader: []
      - URLParameter: []
  /historical/getBlocks:
    post:
      operationId: getBlocks
      summary: getBlocks — Historical confirmed blocks in a range
      tags:
      - Block
      description: |
        Returns confirmed blocks between two historical slots (inclusive).

        > **How to call this method**
        >
        > Historical Solana RPC requests POST to **`/historical`** on the chosen
        > SVS server. The path shown above (e.g. `/historical/getBlock`) is a
        > documentation grouping — it lets each historical method render as its
        > own operation. The actual method dispatch happens via the `method`
        > field in the request body.

        **Parameters**

        0. `startSlot` (required) — Start slot (inclusive).
        1. `endSlot` (optional) — End slot (inclusive).
        2. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlocks
                  description: Must be `getBlocks`.
                  example: getBlocks
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 3
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBlocks
              params:
              - 178000000
              - 178000010
      responses:
        '200':
          description: Successful `getBlocks` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: integer
                        format: int64
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                - 178000000
                - 178000001
                - 178000004
                - 178000005
                - 178000010
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /historical/getBlocksWithLimit:
    post:
      operationId: getBlocksWithLimit
      summary: getBlocksWithLimit — Historical confirmed blocks starting at slot
      tags:
      - Block
      description: |
        Returns up to `limit` confirmed historical blocks starting at `startSlot`.

        > **How to call this method**
        >
        > Historical Solana RPC requests POST to **`/historical`** on the chosen
        > SVS server. The path shown above (e.g. `/historical/getBlock`) is a
        > documentation grouping — it lets each historical method render as its
        > own operation. The actual method dispatch happens via the `method`
        > field in the request body.

        **Parameters**

        0. `startSlot` (required) — Start slot.
        1. `limit` (required) — Number of blocks (max 500,000).
        2. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlocksWithLimit
                  description: Must be `getBlocksWithLimit`.
                  example: getBlocksWithLimit
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 2
                  maxItems: 3
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBlocksWithLimit
              params:
              - 178000000
              - 10
      responses:
        '200':
          description: Successful `getBlocksWithLimit` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: integer
                        format: int64
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                - 178000000
                - 178000001
                - 178000004
                - 178000005
                - 178000010
                - 178000012
                - 178000014
                - 178000015
                - 178000016
                - 178000018
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /historical/getBlockTime:
    post:
      operationId: getBlockTime
      summary: getBlockTime — Historical block production time
      tags:
      - Block
      description: |
        Returns the estimated Unix timestamp at which a historical block was produced.

        > **How to call this method**
        >
        > Historical Solana RPC requests POST to **`/historical`** on the chosen
        > SVS server. The path shown above (e.g. `/historical/getBlock`) is a
        > documentation grouping — it lets each historical method render as its
        > own operation. The actual method dispatch happens via the `method`
        > field in the request body.

        **Parameters**

        0. `slot` (required) — Slot number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlockTime
                  description: Must be `getBlockTime`.
                  example: getBlockTime
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 1
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBlockTime
              params:
              - 178000000
      responses:
        '200':
          description: Successful `getBlockTime` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: integer
                      format: int64
                      nullable: true
              example:
                jsonrpc: '2.0'
                id: 1
                result: 1700000000
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /historical/getFirstAvailableBlock:
    post:
      operationId: getFirstAvailableBlock
      summary: getFirstAvailableBlock — Lowest historical block
      tags:
      - Block
      description: |
        Returns the lowest slot number that the historical archive has data for.

        > **How to call this method**
        >
        > Historical Solana RPC requests POST to **`/historical`** on the chosen
        > SVS server. The path shown above (e.g. `/historical/getBlock`) is a
        > documentation grouping — it lets each historical method render as its
        > own operation. The actual method dispatch happens via the `method`
        > field in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getFirstAvailableBlock
                  description: Must be `getFirstAvailableBlock`.
                  example: getFirstAvailableBlock
                params:
                  type: array
                  description: No parameters.
                  maxItems: 0
            example:
              jsonrpc: '2.0'
              id: 1
              method: getFirstAvailableBlock
              params: []
      responses:
        '200':
          description: Successful `getFirstAvailableBlock` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: integer
                      format: int64
              example:
                jsonrpc: '2.0'
                id: 1
                result: 140000000
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /historical/getSlot:
    post:
      operationId: getSlot
      summary: getSlot — Highest historical slot
      tags:
      - Slots
      description: |
        Returns the highest slot number that the historical archive has data for.

        > **How to call this method**
        >
        > Historical Solana RPC requests POST to **`/historical`** on the chosen
        > SVS server. The path shown above (e.g. `/historical/getBlock`) is a
        > documentation grouping — it lets each historical method render as its
        > own operation. The actual method dispatch happens via the `method`
        > field in the request body.

        **Parameters**

        0. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getSlot
                  description: Must be `getSlot`.
                  example: getSlot
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 0
                  maxItems: 1
            example:
              jsonrpc: '2.0'
              id: 1
              method: getSlot
              params:
              - commitment: finalized
      responses:
        '200':
          description: Successful `getSlot` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: integer
                      format: int64
              example:
                jsonrpc: '2.0'
                id: 1
                result: 416990000
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /historical/getSignaturesForAddress:
    post:
      operationId: getSignaturesForAddress
      summary: getSignaturesForAddress — Historical signatures for an address
      tags:
      - Transactions
      description: |
        Returns historical signatures involving an address from SVS's long-term ledger storage.

        > **How to call this method**
        >
        > Historical Solana RPC requests POST to **`/historical`** on the chosen
        > SVS server. The path shown above (e.g. `/historical/getBlock`) is a
        > documentation grouping — it lets each historical method render as its
        > own operation. The actual method dispatch happens via the `method`
        > field in the request body.

        **Parameters**

        0. `pubkey` (required) — Base-58 encoded public key.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getSignaturesForAddress
                  description: Must be `getSignaturesForAddress`.
                  example: getSignaturesForAddress
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getSignaturesForAddress
              params:
              - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
              - limit: 10
      responses:
        '200':
          description: Successful `getSignaturesForAddress` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        properties:
                          signature:
                            type: string
                          slot:
                            type: integer
                            format: int64
                          err:
                            type: object
                            nullable: true
                            additionalProperties: true
                          memo:
                            type: string
                            nullable: true
                          blockTime:
                            type: integer
                            format: int64
                            nullable: true
                          confirmationStatus:
                            type: string
                            enum:
                            - finalized
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                - signature: 4hXTCkRzt9WyecNzV1XPgCDfGAZzQKNxLXgynz5QDuWWPSAZBZSHptvWRL3BjCvzUXRdKvHL2b7yGrRQcWyaqsa
                  slot: 178000000
                  err: null
                  memo: null
                  blockTime: 1700000000
                  confirmationStatus: finalized
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /historical/getSignatureStatuses:
    post:
      operationId: getSignatureStatuses
      summary: getSignatureStatuses — Historical signature statuses
      tags:
      - Transactions
      description: |
        Returns confirmation status for historical signatures.

        > **How to call this method**
        >
        > Historical Solana RPC requests POST to **`/historical`** on the chosen
        > SVS server. The path shown above (e.g. `/historical/getBlock`) is a
        > documentation grouping — it lets each historical method render as its
        > own operation. The actual method dispatch happens via the `method`
        > field in the request body.

        **Parameters**

        0. `signatures` (required) — Array of base-58 signatures.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getSignatureStatuses
                  description: Must be `getSignatureStatuses`.
                  example: getSignatureStatuses
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getSignatureStatuses
              params:
              - - 4hXTCkRzt9WyecNzV1XPgCDfGAZzQKNxLXgynz5QDuWWPSAZBZSHptvWRL3BjCvzUXRdKvHL2b7yGrRQcWyaqsa
              - searchTransactionHistory: true
      responses:
        '200':
          description: Successful `getSignatureStatuses` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: array
                          items:
                            type: object
                            description: Status object, or null if signature is unknown.
                            properties:
                              slot:
                                type: integer
                                format: int64
                              confirmations:
                                type: integer
                                format: int64
                                nullable: true
                              err:
                                type: object
                                nullable: true
                                additionalProperties: true
                              confirmationStatus:
                                type: string
                                enum:
                                - finalized
                            nullable: true
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                  - slot: 178000000
                    confirmations: null
                    err: null
                    confirmationStatus: finalized
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /historical/getTransaction:
    post:
      operationId: getTransaction
      summary: getTransaction — Historical transaction by signature
      tags:
      - Transactions
      description: |
        Returns full transaction data for a historical signature.

        > **How to call this method**
        >
        > Historical Solana RPC requests POST to **`/historical`** on the chosen
        > SVS server. The path shown above (e.g. `/historical/getBlock`) is a
        > documentation grouping — it lets each historical method render as its
        > own operation. The actual method dispatch happens via the `method`
        > field in the request body.

        **Parameters**

        0. `signature` (required) — Base-58 transaction signature.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTransaction
                  description: Must be `getTransaction`.
                  example: getTransaction
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getTransaction
              params:
              - 4hXTCkRzt9WyecNzV1XPgCDfGAZzQKNxLXgynz5QDuWWPSAZBZSHptvWRL3BjCvzUXRdKvHL2b7yGrRQcWyaqsa
              - maxSupportedTransactionVersion: 0
      responses:
        '200':
          description: Successful `getTransaction` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      properties:
                        slot:
                          type: integer
                          format: int64
                        blockTime:
                          type: integer
                          format: int64
                          nullable: true
                        transaction:
                          type: object
                          additionalProperties: true
                        meta:
                          type: object
                          additionalProperties: true
                          nullable: true
                        version:
                          oneOf:
                          - type: integer
                            format: int64
                          - type: string
                      nullable: true
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  slot: 178000000
                  blockTime: 1700000000
                  transaction:
                    signatures:
                    - '...'
                    message: {}
                  meta:
                    err: null
                    fee: 5000
                    preBalances:
                    - 1000000
                    postBalances:
                    - 995000
                  version: 0
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
components:
  schemas:
    JsonRpcEnvelope:
      type: object
      required:
      - jsonrpc
      - id
      description: Base envelope of every JSON-RPC 2.0 response.
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
          example: '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
          description: Echoed request id.
          example: 1
    JsonRpcErrorResponse:
      type: object
      required:
      - jsonrpc
      - id
      - error
      description: JSON-RPC 2.0 error response.
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
        error:
          $ref: '#/components/schemas/JsonRpcError'
    JsonRpcError:
      type: object
      required:
      - code
      - message
      description: Structured JSON-RPC error.
      properties:
        code:
          type: integer
          description: |
            Numeric error code per JSON-RPC 2.0 spec. Common values:
            - `-32700` Parse error
            - `-32600` Invalid Request
            - `-32601` Method not found
            - `-32602` Invalid params
            - `-32603` Internal error
            - `-32003` Unauthorized
            - `-32005` Too Many Requests
            - `-32015` Transaction version not supported
          example: -32602
        message:
          type: string
          example: Invalid params
        data:
          type: object
          additionalProperties: true
    Context:
      type: object
      description: RPC context block returned alongside most account-level results.
      required:
      - slot
      properties:
        slot:
          type: integer
          format: int64
          example: 416997240
        apiVersion:
          type: string
          example: 3.1.10
    Commitment:
      type: string
      enum:
      - processed
      - confirmed
      - finalized
      default: finalized
      description: |-
        How finalized a block is at query time:
        - `processed`: most recent block, may be skipped
        - `confirmed`: block confirmed by supermajority of cluster
        - `finalized`: block finalized by the cluster (>2/3 stake)
    Encoding:
      type: string
      enum:
      - json
      - jsonParsed
      - base58
      - base64
      - base64+zstd
      description: Encoding for transaction or account data.
    TransactionDetails:
      type: string
      enum:
      - full
      - accounts
      - signatures
      - none
      description: Level of transaction detail to return on block queries.
    AccountInfo:
      type: object
      description: On-chain account state.
      nullable: true
      required:
      - lamports
      - owner
      - executable
      - rentEpoch
      - data
      properties:
        lamports:
          type: integer
          format: int64
          description: Balance in lamports.
        owner:
          type: string
          description: Base-58 program id that owns the account.
        executable:
          type: boolean
        rentEpoch:
          type: integer
          format: int64
        space:
          type: integer
          description: Data length in bytes.
        data:
          description: Account data; encoding depends on request encoding.
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          - type: object
            additionalProperties: true
    UiTokenAmount:
      type: object
      required:
      - amount
      - decimals
      - uiAmountString
      description: Token amount with both raw and UI representations.
      properties:
        amount:
          type: string
          description: Raw amount, ignoring decimals.
        decimals:
          type: integer
        uiAmount:
          type: number
          nullable: true
        uiAmountString:
          type: string
  responses:
    UnauthorizedError:
      description: Authentication required or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    ForbiddenError:
      description: Insufficient permissions for the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    TooManyRequestsError:
      description: Rate limit exceeded for this tier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    InternalServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
  securitySchemes:
    AuthHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass `Authorization: <api-key>` on each request.'
    URLParameter:
      type: apiKey
      in: query
      name: api_key
      description: Pass `?api_key=<api-key>` on the URL.
security: *id005
