# Generated by scripts/generate-rpc-specs.py — edit the generator, not this file.
openapi: 3.0.3
info:
  title: Solana Vibe Station Historical RPC
  description: |
    Historical Solana JSON-RPC 2.0 methods hosted by Solana Vibe Station,
    served from long-term ledger storage.

    All historical methods POST to a single path: **`/historical`**
    on the chosen SVS server. The method name is passed in the
    JSON-RPC request body, exactly like the main Solana RPC. Use
    the Test-It dropdown to switch between method-specific example
    request bodies; the response payload also has a per-method
    example so you can see what to expect.
  version: 1.0.0
  contact:
    name: Solana Vibe Station
    url: https://www.solanavibestation.com
  license:
    name: MIT OR Apache-2.0
    url: https://opensource.org/licenses/MIT
servers:
- url: https://public.rpc.solanavibestation.com
  description: Public endpoint (rate-limited, no auth)
- url: https://basic.rpc.solanavibestation.com
  description: Basic tier
- url: https://ultra.rpc.solanavibestation.com
  description: Ultra tier
- url: https://elite.rpc.solanavibestation.com
  description: Elite tier
- url: https://epic.rpc.solanavibestation.com
  description: Epic tier
tags:
- name: Historical RPC
  description: All historical methods, dispatched via the JSON-RPC `method` field.
paths:
  /historical:
    post:
      operationId: historicalRpc
      summary: Historical Solana JSON-RPC
      tags:
      - Historical RPC
      description: |
        All historical methods POST to **`/historical`** on the chosen SVS server. The method name is passed in the JSON-RPC request body, exactly like the main Solana RPC. Use the Test-It dropdown to pick a method; each named example below populates the request body for that method.

        ## Methods supported

        - **`getBlock`** — Returns identity and transaction information about a confirmed block in the ledger. Provides detailed block data including all transactions and their metadata.
        - **`getBlocks`** — Returns a list of confirmed blocks between two slots
        - **`getBlocksWithLimit`** — Returns a list of confirmed blocks starting at the given slot. This method provides an efficient way to retrieve a range of sequential block slots, which is useful for block explorers, analytics tools, and applications that need to process historical blockchain data in batches. Important : The limit must be no more than 500,000 blocks higher than the start_slot.
        - **`getBlockTime`** — Returns the estimated production time of a block. Each validator reports their UTC time to the ledger on a regular interval by intermittently adding a timestamp to a Vote for a particular block. A requested block's time is calculated from the stake-weighted mean of the Vote timestamps in a set of recent blocks recorded on the ledger.
        - **`getFirstAvailableBlock`** — Returns the slot of the lowest confirmed block that has not been purged from the ledger. This is useful for determining the earliest available block data in the ledger history.
        - **`getSlot`** — Returns the highest slot available on the historical RPC endpoints.
        - **`getSignaturesForAddress`** — Returns signatures for confirmed transactions that include the given address in their accountKeys list. Returns signatures backwards in time from the provided signature or most recent confirmed block. This method is essential for transaction history, wallet activity feeds, and building transaction explorers.
        - **`getSignatureStatuses`** — Returns the statuses of a list of transaction signatures. This method is essential for checking whether transactions have been confirmed, failed, or are still processing. It's commonly used by wallets and dApps to monitor transaction status and provide real-time feedback to users. You can check up to 256 signatures in a single request.
        - **`getTransaction`** — Returns transaction details for a confirmed transaction signature. Provides comprehensive information about the transaction including its status, fees, logs, and account changes. This method is essential for transaction explorers, wallets, and dApps that need to analyze transaction execution details. Important : For most modern Solana transactions, you must include maxSupportedTransactionVersion: 0 in the request parameters, otherwise the request will fail with an error if the transaction is a versioned transaction.
        - **`getTransactionsForAddress`** — Enhanced transaction history API with powerful filtering, sorting, and pagination capabilities for retrieving comprehensive transaction data for any address. Supports bidirectional sorting, time/slot/status filtering, and efficient keyset pagination via the `paginationToken` cursor.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlock
                  - getBlocks
                  - getBlocksWithLimit
                  - getBlockTime
                  - getFirstAvailableBlock
                  - getSlot
                  - getSignaturesForAddress
                  - getSignatureStatuses
                  - getTransaction
                  - getTransactionsForAddress
                  description: The historical RPC method to call. Each value below corresponds to a documented method; pick the one matching your request body.
                  example: getBlock
                params:
                  type: array
                  description: Positional parameters for the chosen method. The shape varies per method; see the Test-It examples below for one-click presets.
            examples:
              getBlock:
                summary: getBlock — Historical block by slot
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlock
                  params:
                  - 178000000
                  - maxSupportedTransactionVersion: 0
                    transactionDetails: full
              getBlocks:
                summary: getBlocks — Historical confirmed blocks in a range
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlocks
                  params:
                  - 178000000
                  - 178000010
              getBlocksWithLimit:
                summary: getBlocksWithLimit — Historical confirmed blocks starting at slot
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlocksWithLimit
                  params:
                  - 178000000
                  - 10
              getBlockTime:
                summary: getBlockTime — Historical block production time
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlockTime
                  params:
                  - 178000000
              getFirstAvailableBlock:
                summary: getFirstAvailableBlock — Lowest historical block
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getFirstAvailableBlock
                  params: []
              getSlot:
                summary: getSlot — Highest historical slot
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getSlot
                  params:
                  - commitment: finalized
              getSignaturesForAddress:
                summary: getSignaturesForAddress — Historical signatures for an address
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getSignaturesForAddress
                  params:
                  - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                  - limit: 10
              getSignatureStatuses:
                summary: getSignatureStatuses — Historical signature statuses
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getSignatureStatuses
                  params:
                  - - 4hXTCkRzt9WyecNzV1XPgCDfGAZzQKNxLXgynz5QDuWWPSAZBZSHptvWRL3BjCvzUXRdKvHL2b7yGrRQcWyaqsa
                  - searchTransactionHistory: true
              getTransaction:
                summary: getTransaction — Historical transaction by signature
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getTransaction
                  params:
                  - 4hXTCkRzt9WyecNzV1XPgCDfGAZzQKNxLXgynz5QDuWWPSAZBZSHptvWRL3BjCvzUXRdKvHL2b7yGrRQcWyaqsa
                  - maxSupportedTransactionVersion: 0
              getTransactionsForAddress:
                summary: getTransactionsForAddress — Filtered transaction history for an address
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getTransactionsForAddress
                  params:
                  - Vote111111111111111111111111111111111111111
                  - transactionDetails: signatures
                    limit: 10
      responses:
        '200':
          description: Successful JSON-RPC response. Result shape depends on the method.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      description: Method-specific result. See each method's documentation for the shape.
                      oneOf:
                      - type: object
                        additionalProperties: true
                      - type: array
                        items:
                          type: object
                          additionalProperties: true
                      - type: integer
                      - type: string
                      - type: boolean
              examples:
                getBlock:
                  summary: Successful getBlock response
                  value:
                    jsonrpc: '2.0'
                    id: 1
                    result:
                      blockhash: 3Eq21vXNB5s86c62bVuUfTeaMif1N2kUqRPBmGRJhyTA
                      previousBlockhash: mfcyqEXB3DnHXki6KjjmZck6YjmZLvpAByy2fj4nh6B
                      parentSlot: 177999999
                      blockHeight: 162345678
                      blockTime: 1700000000
                      transactions: []
                getBlocks:
                  summary: Successful getBlocks response
                  value:
                    jsonrpc: '2.0'
                    id: 1
                    result:
                    - 178000000
                    - 178000001
                    - 178000004
                    - 178000005
                    - 178000010
                getBlocksWithLimit:
                  summary: Successful getBlocksWithLimit response
                  value:
                    jsonrpc: '2.0'
                    id: 1
                    result:
                    - 178000000
                    - 178000001
                    - 178000004
                    - 178000005
                    - 178000010
                    - 178000012
                    - 178000014
                    - 178000015
                    - 178000016
                    - 178000018
                getBlockTime:
                  summary: Successful getBlockTime response
                  value:
                    jsonrpc: '2.0'
                    id: 1
                    result: 1700000000
                getFirstAvailableBlock:
                  summary: Successful getFirstAvailableBlock response
                  value:
                    jsonrpc: '2.0'
                    id: 1
                    result: 140000000
                getSlot:
                  summary: Successful getSlot response
                  value:
                    jsonrpc: '2.0'
                    id: 1
                    result: 416990000
                getSignaturesForAddress:
                  summary: Successful getSignaturesForAddress response
                  value:
                    jsonrpc: '2.0'
                    id: 1
                    result:
                    - signature: 4hXTCkRzt9WyecNzV1XPgCDfGAZzQKNxLXgynz5QDuWWPSAZBZSHptvWRL3BjCvzUXRdKvHL2b7yGrRQcWyaqsa
                      slot: 178000000
                      err: null
                      memo: null
                      blockTime: 1700000000
                      confirmationStatus: finalized
                getSignatureStatuses:
                  summary: Successful getSignatureStatuses response
                  value:
                    jsonrpc: '2.0'
                    id: 1
                    result:
                      context:
                        slot: 416997240
                        apiVersion: 3.1.10
                      value:
                      - slot: 178000000
                        confirmations: null
                        err: null
                        confirmationStatus: finalized
                getTransaction:
                  summary: Successful getTransaction response
                  value:
                    jsonrpc: '2.0'
                    id: 1
                    result:
                      slot: 178000000
                      blockTime: 1700000000
                      transaction:
                        signatures:
                        - '...'
                        message: {}
                      meta:
                        err: null
                        fee: 5000
                        preBalances:
                        - 1000000
                        postBalances:
                        - 995000
                      version: 0
                getTransactionsForAddress:
                  summary: Successful getTransactionsForAddress response
                  value:
                    jsonrpc: '2.0'
                    id: 1
                    result:
                      data:
                      - signature: 5h6xBEauJ3PK6SWCZ1PGjBvj8vDdWG3KpwATGy1ARAXFSDwt8GFXM7W5Ncn16wmqokgpiKRLuS83KUxyZyv2sUYv
                        slot: 1054
                        transactionIndex: 42
                        err: null
                        memo: null
                        blockTime: 1641038400
                        confirmationStatus: finalized
                      paginationToken: '1055:5'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: &id001
      - {}
      - AuthHeader: []
      - URLParameter: []
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com/historical \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getBlock","params":[178000000,{"maxSupportedTransactionVersion":0,"transactionDetails":"full"}]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          # The historical archive is served from a separate path on every SVS
          # server. The solana-py Client must be pointed at the /historical URL:
          client = Client("https://public.rpc.solanavibestation.com/historical")

          resp = client.get_block(slot=416997240, max_supported_transaction_version=0)
          print(f"blockhash={resp.value.blockhash} txs={len(resp.value.transactions or [])}")
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          // The historical archive is served from a separate path on every SVS
          // server. Construct a Connection pointed at the /historical URL:
          const connection = new Connection("https://public.rpc.solanavibestation.com/historical", "confirmed");

          const block = await connection.getBlock(416997240, { maxSupportedTransactionVersion: 0 });
          console.log(`blockhash=${block.blockhash} txs=${block.transactions.length}`);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          // The historical archive is served from a separate path on every SVS
          // server. Build the RpcClient with the /historical URL:
          let client = RpcClient::new("https://public.rpc.solanavibestation.com/historical".to_string());

          use solana_transaction_status::UiTransactionEncoding;
          let block = client.get_block_with_encoding(416997240, UiTransactionEncoding::Json)?;
          println!("blockhash={} txs={}", block.blockhash, block.transactions.len());
components:
  schemas:
    JsonRpcEnvelope:
      type: object
      required:
      - jsonrpc
      - id
      description: Base envelope of every JSON-RPC 2.0 response.
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
          example: '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
          description: Echoed request id.
          example: 1
    JsonRpcErrorResponse:
      type: object
      required:
      - jsonrpc
      - id
      - error
      description: JSON-RPC 2.0 error response.
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
        error:
          $ref: '#/components/schemas/JsonRpcError'
    JsonRpcError:
      type: object
      required:
      - code
      - message
      description: Structured JSON-RPC error.
      properties:
        code:
          type: integer
          description: |
            Numeric error code per JSON-RPC 2.0 spec. Common values:
            - `-32700` Parse error
            - `-32600` Invalid Request
            - `-32601` Method not found
            - `-32602` Invalid params
            - `-32603` Internal error
            - `-32003` Unauthorized
            - `-32005` Too Many Requests
            - `-32015` Transaction version not supported
          example: -32602
        message:
          type: string
          example: Invalid params
        data:
          type: object
          additionalProperties: true
    Context:
      type: object
      description: RPC context block returned alongside most account-level results.
      required:
      - slot
      properties:
        slot:
          type: integer
          format: int64
          example: 416997240
        apiVersion:
          type: string
          example: 3.1.10
    Commitment:
      type: string
      enum:
      - processed
      - confirmed
      - finalized
      default: finalized
      description: |-
        How finalized a block is at query time:
        - `processed`: most recent block, may be skipped
        - `confirmed`: block confirmed by supermajority of cluster
        - `finalized`: block finalized by the cluster (>2/3 stake)
    Encoding:
      type: string
      enum:
      - json
      - jsonParsed
      - base58
      - base64
      - base64+zstd
      description: Encoding for transaction or account data.
    TransactionDetails:
      type: string
      enum:
      - full
      - accounts
      - signatures
      - none
      description: Level of transaction detail to return on block queries.
    AccountInfo:
      type: object
      description: On-chain account state.
      nullable: true
      required:
      - lamports
      - owner
      - executable
      - rentEpoch
      - data
      properties:
        lamports:
          type: integer
          format: int64
          description: Balance in lamports.
        owner:
          type: string
          description: Base-58 program id that owns the account.
        executable:
          type: boolean
        rentEpoch:
          type: integer
          format: int64
        space:
          type: integer
          description: Data length in bytes.
        data:
          description: Account data; encoding depends on request encoding.
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          - type: object
            additionalProperties: true
    UiTokenAmount:
      type: object
      required:
      - amount
      - decimals
      - uiAmountString
      description: Token amount with both raw and UI representations.
      properties:
        amount:
          type: string
          description: Raw amount, ignoring decimals.
        decimals:
          type: integer
        uiAmount:
          type: number
          nullable: true
        uiAmountString:
          type: string
  responses:
    UnauthorizedError:
      description: Authentication required or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    ForbiddenError:
      description: Insufficient permissions for the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    TooManyRequestsError:
      description: Rate limit exceeded for this tier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    InternalServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
  securitySchemes:
    AuthHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass `Authorization: <api-key>` on each request.'
    URLParameter:
      type: apiKey
      in: query
      name: api_key
      description: Pass `?api_key=<api-key>` on the URL.
security: *id001
