# Generated by scripts/generate-rpc-specs.py — edit the generator, not this file.
openapi: 3.0.3
info:
  title: Solana Vibe Station RPC
  description: |
    Solana JSON-RPC 2.0 endpoints hosted by Solana Vibe Station.

    Each method is documented as its own OpenAPI operation. In production all
    requests POST to the **root path** (`/`) of the chosen server URL — the
    method shown in the path (e.g. `/getBalance`) is a documentation grouping
    so each operation can be embedded individually in the docs.
  version: 2.0.0
  contact:
    name: Solana Vibe Station
    url: https://www.solanavibestation.com
  license:
    name: MIT OR Apache-2.0
    url: https://opensource.org/licenses/MIT
servers:
- url: https://public.rpc.solanavibestation.com
  description: Public endpoint (rate-limited, no auth)
- url: https://lite.rpc.solanavibestation.com
  description: Lite tier
- url: https://basic.rpc.solanavibestation.com
  description: Basic tier
- url: https://ultra.rpc.solanavibestation.com
  description: Ultra tier
- url: https://elite.rpc.solanavibestation.com
  description: Elite tier
- url: https://epic.rpc.solanavibestation.com
  description: Epic tier
- url: https://basic.swqos.solanavibestation.com
  description: Basic tier with Stake-Weighted QoS
- url: https://ultra.swqos.solanavibestation.com
  description: Ultra tier with Stake-Weighted QoS
- url: https://elite.swqos.solanavibestation.com
  description: Elite tier with Stake-Weighted QoS
tags:
- name: Account
  description: Account state, balances, and SPL token accounts.
- name: Block
  description: Block production, lookups, and timing.
- name: Cluster
  description: Cluster topology, epoch info, and node identity.
- name: Fees
  description: Blockhash, fee estimation, and prioritization fees.
- name: Transactions
  description: Submission, simulation, and lookup of transactions.
- name: Slots
  description: Current slot, slot leaders, and leader schedule.
- name: Stake
  description: Stake account utilities.
- name: Validators
  description: Vote accounts and validator status.
- name: Inflation
  description: Inflation governor, rate, and rewards.
- name: Supply
  description: Total SOL supply and largest accounts.
- name: Misc
  description: Airdrops, performance samples, and miscellany.
paths:
  /getAccountInfo:
    post:
      operationId: getAccountInfo
      summary: getAccountInfo — Account info for a single pubkey
      tags:
      - Account
      description: |
        Returns information associated with the account at the given pubkey, including its lamport balance, owner program, executable flag, rent epoch, and data.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `pubkey` (required) — Base-58 encoded public key.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getAccountInfo
                  description: Must be `getAccountInfo`.
                  example: getAccountInfo
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getAccountInfo
              params:
              - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
              - encoding: base64
                commitment: finalized
      responses:
        '200':
          description: Successful `getAccountInfo` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          $ref: '#/components/schemas/AccountInfo'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                    lamports: 1000000
                    owner: '11111111111111111111111111111111'
                    executable: false
                    rentEpoch: 18446744073709551615
                    space: 0
                    data:
                    - ''
                    - base64
        '401': &id001
          $ref: '#/components/responses/UnauthorizedError'
        '403': &id002
          $ref: '#/components/responses/ForbiddenError'
        '429': &id003
          $ref: '#/components/responses/TooManyRequestsError'
        '500': &id004
          $ref: '#/components/responses/InternalServerError'
      security: &id005
      - {}
      - AuthHeader: []
      - URLParameter: []
  /getBalance:
    post:
      operationId: getBalance
      summary: getBalance — Lamport balance for a pubkey
      tags:
      - Account
      description: |
        Returns the lamport balance of the account at the provided pubkey.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `pubkey` (required) — Base-58 encoded public key.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBalance
                  description: Must be `getBalance`.
                  example: getBalance
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBalance
              params:
              - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
              - commitment: finalized
      responses:
        '200':
          description: Successful `getBalance` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: integer
                          format: int64
                          description: Balance in lamports.
                          example: 1000000
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value: 1000000
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getMultipleAccounts:
    post:
      operationId: getMultipleAccounts
      summary: getMultipleAccounts — Account info for many pubkeys
      tags:
      - Account
      description: |
        Returns account information for a list of pubkeys (max 100 per request).

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `pubkeys` (required) — Array of base-58 encoded pubkeys, max 100.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getMultipleAccounts
                  description: Must be `getMultipleAccounts`.
                  example: getMultipleAccounts
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getMultipleAccounts
              params:
              - - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                - '11111111111111111111111111111111'
              - encoding: base64
      responses:
        '200':
          description: Successful `getMultipleAccounts` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: array
                          items:
                            $ref: '#/components/schemas/AccountInfo'
                          description: One account per requested pubkey, in order. Null for pubkeys that don't exist.
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                  - lamports: 1000000
                    owner: '11111111111111111111111111111111'
                    executable: false
                    rentEpoch: 0
                    space: 0
                    data:
                    - ''
                    - base64
                  - null
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getProgramAccounts:
    post:
      operationId: getProgramAccounts
      summary: getProgramAccounts — All accounts owned by a program
      tags:
      - Account
      description: |
        Returns all accounts owned by the provided program pubkey. Heavy query — prefer paginated alternatives where possible.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `programId` (required) — Program pubkey, base-58.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getProgramAccounts
                  description: Must be `getProgramAccounts`.
                  example: getProgramAccounts
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getProgramAccounts
              params:
              - TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
              - encoding: base64
                filters:
                - dataSize: 165
      responses:
        '200':
          description: Successful `getProgramAccounts` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        required:
                        - pubkey
                        - account
                        properties:
                          pubkey:
                            type: string
                          account:
                            $ref: '#/components/schemas/AccountInfo'
                      description: Array of {pubkey, account} pairs.
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                - pubkey: 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                  account:
                    lamports: 2039280
                    owner: TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
                    executable: false
                    rentEpoch: 0
                    space: 165
                    data:
                    - ''
                    - base64
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getTokenAccountBalance:
    post:
      operationId: getTokenAccountBalance
      summary: getTokenAccountBalance — Token account balance
      tags:
      - Account
      description: |
        Returns the token balance of an SPL token account.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `pubkey` (required) — Token account pubkey, base-58.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTokenAccountBalance
                  description: Must be `getTokenAccountBalance`.
                  example: getTokenAccountBalance
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getTokenAccountBalance
              params:
              - 7UVpfyV3PzWxNw3pcU88WGGgC4XSiTNVTPMK6P7vrqCi
              - commitment: finalized
      responses:
        '200':
          description: Successful `getTokenAccountBalance` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          $ref: '#/components/schemas/UiTokenAmount'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                    amount: '1000000'
                    decimals: 6
                    uiAmount: 1.0
                    uiAmountString: '1'
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getTokenAccountsByDelegate:
    post:
      operationId: getTokenAccountsByDelegate
      summary: getTokenAccountsByDelegate — Token accounts by delegate
      tags:
      - Account
      description: |
        Returns all SPL token accounts whose delegate matches the provided pubkey.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `delegate` (required) — Delegate pubkey, base-58.
        1. `filter` (required) — Filter by mint or program id (one of).
        2. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTokenAccountsByDelegate
                  description: Must be `getTokenAccountsByDelegate`.
                  example: getTokenAccountsByDelegate
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 2
                  maxItems: 3
            example:
              jsonrpc: '2.0'
              id: 1
              method: getTokenAccountsByDelegate
              params:
              - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
              - programId: TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
              - encoding: jsonParsed
      responses:
        '200':
          description: Successful `getTokenAccountsByDelegate` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: array
                          items:
                            type: object
                            properties:
                              pubkey:
                                type: string
                              account:
                                $ref: '#/components/schemas/AccountInfo'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value: []
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getTokenAccountsByOwner:
    post:
      operationId: getTokenAccountsByOwner
      summary: getTokenAccountsByOwner — Token accounts by owner
      tags:
      - Account
      description: |
        Returns all SPL token accounts owned by the provided pubkey, optionally filtered by mint or token program.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `owner` (required) — Owner pubkey, base-58.
        1. `filter` (required) — Filter by mint or program id (one of).
        2. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTokenAccountsByOwner
                  description: Must be `getTokenAccountsByOwner`.
                  example: getTokenAccountsByOwner
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 2
                  maxItems: 3
            example:
              jsonrpc: '2.0'
              id: 1
              method: getTokenAccountsByOwner
              params:
              - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
              - programId: TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
              - encoding: jsonParsed
      responses:
        '200':
          description: Successful `getTokenAccountsByOwner` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: array
                          items:
                            type: object
                            properties:
                              pubkey:
                                type: string
                              account:
                                $ref: '#/components/schemas/AccountInfo'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value: []
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getTokenLargestAccounts:
    post:
      operationId: getTokenLargestAccounts
      summary: getTokenLargestAccounts — 20 largest accounts of a token
      tags:
      - Account
      description: |
        Returns the 20 largest token accounts for a given mint, sorted descending by balance.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `mint` (required) — Token mint pubkey, base-58.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTokenLargestAccounts
                  description: Must be `getTokenLargestAccounts`.
                  example: getTokenLargestAccounts
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getTokenLargestAccounts
              params:
              - EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: Successful `getTokenLargestAccounts` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: array
                          items:
                            type: object
                            properties:
                              address:
                                type: string
                              amount:
                                type: string
                              decimals:
                                type: integer
                                format: int64
                              uiAmount:
                                type: number
                                nullable: true
                              uiAmountString:
                                type: string
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                  - address: 7UVpfyV3PzWxNw3pcU88WGGgC4XSiTNVTPMK6P7vrqCi
                    amount: '1000000'
                    decimals: 6
                    uiAmount: 1.0
                    uiAmountString: '1'
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getTokenSupply:
    post:
      operationId: getTokenSupply
      summary: getTokenSupply — Total supply of a token
      tags:
      - Account
      description: |
        Returns the total circulating supply of an SPL token mint.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `mint` (required) — Token mint pubkey, base-58.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTokenSupply
                  description: Must be `getTokenSupply`.
                  example: getTokenSupply
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getTokenSupply
              params:
              - EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: Successful `getTokenSupply` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          $ref: '#/components/schemas/UiTokenAmount'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                    amount: '9046067177782798'
                    decimals: 6
                    uiAmount: 9046067177.782799
                    uiAmountString: '9046067177.782798'
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getBlock:
    post:
      operationId: getBlock
      summary: getBlock — Block by slot
      tags:
      - Block
      description: |
        Returns identity and transaction information about a confirmed block in the ledger.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `slot` (required) — Slot number to fetch.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlock
                  description: Must be `getBlock`.
                  example: getBlock
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBlock
              params:
              - 416997240
              - maxSupportedTransactionVersion: 0
                transactionDetails: full
      responses:
        '200':
          description: Successful `getBlock` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - blockhash
                      - previousBlockhash
                      - parentSlot
                      - transactions
                      - blockHeight
                      properties:
                        blockhash:
                          type: string
                        previousBlockhash:
                          type: string
                        parentSlot:
                          type: integer
                          format: int64
                        blockHeight:
                          type: integer
                          format: int64
                        blockTime:
                          type: integer
                          format: int64
                          nullable: true
                        transactions:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                        rewards:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  blockhash: 3Eq21vXNB5s86c62bVuUfTeaMif1N2kUqRPBmGRJhyTA
                  previousBlockhash: mfcyqEXB3DnHXki6KjjmZck6YjmZLvpAByy2fj4nh6B
                  parentSlot: 416997239
                  blockHeight: 395090168
                  blockTime: 1777683570
                  transactions: []
                  rewards: []
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getBlockHeight:
    post:
      operationId: getBlockHeight
      summary: getBlockHeight — Current block height
      tags:
      - Block
      description: |
        Returns the current block height of the node.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlockHeight
                  description: Must be `getBlockHeight`.
                  example: getBlockHeight
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 0
                  maxItems: 1
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBlockHeight
              params:
              - commitment: finalized
      responses:
        '200':
          description: Successful `getBlockHeight` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: integer
                      format: int64
                      description: Current block height.
                      example: 395090168
              example:
                jsonrpc: '2.0'
                id: 1
                result: 395090168
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getBlocks:
    post:
      operationId: getBlocks
      summary: getBlocks — Confirmed blocks in a range
      tags:
      - Block
      description: |
        Returns a list of confirmed blocks between two slots (inclusive).

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `startSlot` (required) — Start slot (inclusive).
        1. `endSlot` (optional) — End slot (inclusive).
        2. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlocks
                  description: Must be `getBlocks`.
                  example: getBlocks
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 3
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBlocks
              params:
              - 416997230
              - 416997240
      responses:
        '200':
          description: Successful `getBlocks` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: integer
                        format: int64
                      description: Confirmed slots.
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                - 416997230
                - 416997231
                - 416997234
                - 416997235
                - 416997240
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getBlocksWithLimit:
    post:
      operationId: getBlocksWithLimit
      summary: getBlocksWithLimit — Confirmed blocks starting at slot
      tags:
      - Block
      description: |
        Returns up to `limit` confirmed blocks starting at `startSlot`.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `startSlot` (required) — Start slot.
        1. `limit` (required) — Maximum number of blocks (max 500,000).
        2. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlocksWithLimit
                  description: Must be `getBlocksWithLimit`.
                  example: getBlocksWithLimit
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 2
                  maxItems: 3
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBlocksWithLimit
              params:
              - 416997230
              - 10
      responses:
        '200':
          description: Successful `getBlocksWithLimit` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: integer
                        format: int64
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                - 416997230
                - 416997231
                - 416997234
                - 416997235
                - 416997240
                - 416997242
                - 416997243
                - 416997244
                - 416997245
                - 416997246
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getBlockTime:
    post:
      operationId: getBlockTime
      summary: getBlockTime — Estimated production time of a block
      tags:
      - Block
      description: |
        Returns the estimated Unix timestamp at which a block was produced.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `slot` (required) — Slot number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlockTime
                  description: Must be `getBlockTime`.
                  example: getBlockTime
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 1
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBlockTime
              params:
              - 378967388
      responses:
        '200':
          description: Successful `getBlockTime` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: integer
                      format: int64
                      description: Unix timestamp seconds, or null if unavailable.
                      nullable: true
              example:
                jsonrpc: '2.0'
                id: 1
                result: 1777683570
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getBlockCommitment:
    post:
      operationId: getBlockCommitment
      summary: getBlockCommitment — Commitment for a block
      tags:
      - Block
      description: |
        Returns the amount of cluster stake in lamports that has voted on a particular block.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `slot` (required) — Slot number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlockCommitment
                  description: Must be `getBlockCommitment`.
                  example: getBlockCommitment
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 1
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBlockCommitment
              params:
              - 378967388
      responses:
        '200':
          description: Successful `getBlockCommitment` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      properties:
                        commitment:
                          type: array
                          items:
                            type: integer
                            format: int64
                          nullable: true
                        totalStake:
                          type: integer
                          format: int64
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  commitment:
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 999999999999
                  totalStake: 999999999999
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getBlockProduction:
    post:
      operationId: getBlockProduction
      summary: getBlockProduction — Recent block production
      tags:
      - Block
      description: |
        Returns recent block production information from the current or previous epoch.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlockProduction
                  description: Must be `getBlockProduction`.
                  example: getBlockProduction
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 0
                  maxItems: 1
            example:
              jsonrpc: '2.0'
              id: 1
              method: getBlockProduction
              params:
              - commitment: finalized
      responses:
        '200':
          description: Successful `getBlockProduction` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: object
                          properties:
                            byIdentity:
                              type: object
                              description: Identity → [leaderSlots, blocksProduced].
                              additionalProperties:
                                type: array
                                items:
                                  type: integer
                                  format: int64
                            range:
                              type: object
                              properties:
                                firstSlot:
                                  type: integer
                                  format: int64
                                lastSlot:
                                  type: integer
                                  format: int64
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                    byIdentity:
                      FbXMxhgoCYbZ4dWaCVzJWeFqW2tQ8sR82Hi8YyQrEaxR:
                      - 144
                      - 144
                    range:
                      firstSlot: 349200000
                      lastSlot: 349392648
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getClusterNodes:
    post:
      operationId: getClusterNodes
      summary: getClusterNodes — All cluster nodes
      tags:
      - Cluster
      description: |
        Returns information about all the nodes participating in the cluster.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getClusterNodes
                  description: Must be `getClusterNodes`.
                  example: getClusterNodes
                params:
                  type: array
                  description: No parameters.
                  maxItems: 0
            example:
              jsonrpc: '2.0'
              id: 1
              method: getClusterNodes
              params: []
      responses:
        '200':
          description: Successful `getClusterNodes` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        properties:
                          pubkey:
                            type: string
                          gossip:
                            type: string
                            nullable: true
                          tpu:
                            type: string
                            nullable: true
                          rpc:
                            type: string
                            nullable: true
                          version:
                            type: string
                            nullable: true
                          featureSet:
                            type: integer
                            format: int64
                            nullable: true
                          shredVersion:
                            type: integer
                            format: int64
                            nullable: true
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                - pubkey: FbXMxhgoCYbZ4dWaCVzJWeFqW2tQ8sR82Hi8YyQrEaxR
                  gossip: 203.0.113.10:8001
                  tpu: 203.0.113.10:8003
                  rpc: null
                  version: 3.1.10
                  featureSet: 1620780344
                  shredVersion: 0
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getEpochInfo:
    post:
      operationId: getEpochInfo
      summary: getEpochInfo — Current epoch info
      tags:
      - Cluster
      description: |
        Returns information about the current epoch, including absolute slot, slot index, and slots in the epoch.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getEpochInfo
                  description: Must be `getEpochInfo`.
                  example: getEpochInfo
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 0
                  maxItems: 1
            example:
              jsonrpc: '2.0'
              id: 1
              method: getEpochInfo
              params:
              - commitment: finalized
      responses:
        '200':
          description: Successful `getEpochInfo` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      properties:
                        absoluteSlot:
                          type: integer
                          format: int64
                        blockHeight:
                          type: integer
                          format: int64
                        epoch:
                          type: integer
                          format: int64
                        slotIndex:
                          type: integer
                          format: int64
                        slotsInEpoch:
                          type: integer
                          format: int64
                        transactionCount:
                          type: integer
                          format: int64
                          nullable: true
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  absoluteSlot: 416997240
                  blockHeight: 395090168
                  epoch: 965
                  slotIndex: 117240
                  slotsInEpoch: 432000
                  transactionCount: 509155823874
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getEpochSchedule:
    post:
      operationId: getEpochSchedule
      summary: getEpochSchedule — Epoch schedule
      tags:
      - Cluster
      description: |
        Returns the genesis epoch schedule that this cluster is using.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getEpochSchedule
                  description: Must be `getEpochSchedule`.
                  example: getEpochSchedule
                params:
                  type: array
                  description: No parameters.
                  maxItems: 0
            example:
              jsonrpc: '2.0'
              id: 1
              method: getEpochSchedule
              params: []
      responses:
        '200':
          description: Successful `getEpochSchedule` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      properties:
                        slotsPerEpoch:
                          type: integer
                          format: int64
                        leaderScheduleSlotOffset:
                          type: integer
                          format: int64
                        warmup:
                          type: boolean
                        firstNormalEpoch:
                          type: integer
                          format: int64
                        firstNormalSlot:
                          type: integer
                          format: int64
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  slotsPerEpoch: 432000
                  leaderScheduleSlotOffset: 432000
                  warmup: false
                  firstNormalEpoch: 0
                  firstNormalSlot: 0
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getGenesisHash:
    post:
      operationId: getGenesisHash
      summary: getGenesisHash — Genesis hash
      tags:
      - Cluster
      description: |
        Returns the genesis hash of the cluster.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getGenesisHash
                  description: Must be `getGenesisHash`.
                  example: getGenesisHash
                params:
                  type: array
                  description: No parameters.
                  maxItems: 0
            example:
              jsonrpc: '2.0'
              id: 1
              method: getGenesisHash
              params: []
      responses:
        '200':
          description: Successful `getGenesisHash` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: string
                      description: Base-58 genesis hash.
              example:
                jsonrpc: '2.0'
                id: 1
                result: 5eykt4UsFv8P8NJdTREpY1vzqKqZKvdpKuc147dw2N9d
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getHealth:
    post:
      operationId: getHealth
      summary: getHealth — Node health
      tags:
      - Cluster
      description: |
        Returns `ok` if the node is healthy, otherwise an error.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getHealth
                  description: Must be `getHealth`.
                  example: getHealth
                params:
                  type: array
                  description: No parameters.
                  maxItems: 0
            example:
              jsonrpc: '2.0'
              id: 1
              method: getHealth
              params: []
      responses:
        '200':
          description: Successful `getHealth` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: string
                      description: Node health status.
                      enum:
                      - ok
              example:
                jsonrpc: '2.0'
                id: 1
                result: ok
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getIdentity:
    post:
      operationId: getIdentity
      summary: getIdentity — Node identity
      tags:
      - Cluster
      description: |
        Returns the identity pubkey of the current node.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getIdentity
                  description: Must be `getIdentity`.
                  example: getIdentity
                params:
                  type: array
                  description: No parameters.
                  maxItems: 0
            example:
              jsonrpc: '2.0'
              id: 1
              method: getIdentity
              params: []
      responses:
        '200':
          description: Successful `getIdentity` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      properties:
                        identity:
                          type: string
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  identity: 9bupGu2BbLbPCb1ZUAswM3GBVfnKsYWBJjJixD5N5cYm
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getVersion:
    post:
      operationId: getVersion
      summary: getVersion — Solana version
      tags:
      - Cluster
      description: |
        Returns the Solana software version running on the node.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getVersion
                  description: Must be `getVersion`.
                  example: getVersion
                params:
                  type: array
                  description: No parameters.
                  maxItems: 0
            example:
              jsonrpc: '2.0'
              id: 1
              method: getVersion
              params: []
      responses:
        '200':
          description: Successful `getVersion` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      properties:
                        solana-core:
                          type: string
                        feature-set:
                          type: integer
                          format: int32
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  solana-core: 3.1.10
                  feature-set: 1620780344
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getFeeForMessage:
    post:
      operationId: getFeeForMessage
      summary: getFeeForMessage — Estimate fee for a message
      tags:
      - Fees
      description: |
        Returns the estimated fee in lamports for a base-64 encoded compiled message.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `message` (required) — Base-64 encoded compiled message.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getFeeForMessage
                  description: Must be `getFeeForMessage`.
                  example: getFeeForMessage
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getFeeForMessage
              params:
              - AQABA0PJ8nGUKkR2lKZ8VcWQYWQzTGYYNCPdjhq2WaqLNUowVnPB6Q==
              - commitment: processed
      responses:
        '200':
          description: Successful `getFeeForMessage` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: integer
                          format: int64
                          description: Fee in lamports, or null if message could not be decoded.
                          nullable: true
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value: 5000
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getLatestBlockhash:
    post:
      operationId: getLatestBlockhash
      summary: getLatestBlockhash — Latest blockhash
      tags:
      - Fees
      description: |
        Returns the latest blockhash and the last block height at which it will be valid.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getLatestBlockhash
                  description: Must be `getLatestBlockhash`.
                  example: getLatestBlockhash
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 0
                  maxItems: 1
            example:
              jsonrpc: '2.0'
              id: 1
              method: getLatestBlockhash
              params:
              - commitment: finalized
      responses:
        '200':
          description: Successful `getLatestBlockhash` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: object
                          properties:
                            blockhash:
                              type: string
                            lastValidBlockHeight:
                              type: integer
                              format: int64
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                    blockhash: 3Eq21vXNB5s86c62bVuUfTeaMif1N2kUqRPBmGRJhyTA
                    lastValidBlockHeight: 367212294
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /isBlockhashValid:
    post:
      operationId: isBlockhashValid
      summary: isBlockhashValid — Check blockhash validity
      tags:
      - Fees
      description: |
        Returns whether a blockhash is still valid.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `blockhash` (required) — Base-58 blockhash.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - isBlockhashValid
                  description: Must be `isBlockhashValid`.
                  example: isBlockhashValid
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: isBlockhashValid
              params:
              - 3Eq21vXNB5s86c62bVuUfTeaMif1N2kUqRPBmGRJhyTA
              - commitment: processed
      responses:
        '200':
          description: Successful `isBlockhashValid` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: boolean
                          description: True if blockhash is still valid.
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value: true
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getMinimumBalanceForRentExemption:
    post:
      operationId: getMinimumBalanceForRentExemption
      summary: getMinimumBalanceForRentExemption — Min balance for rent exemption
      tags:
      - Fees
      description: |
        Returns the minimum balance (in lamports) required for an account of the given size to be rent-exempt.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `dataLength` (required) — Account data length in bytes.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getMinimumBalanceForRentExemption
                  description: Must be `getMinimumBalanceForRentExemption`.
                  example: getMinimumBalanceForRentExemption
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getMinimumBalanceForRentExemption
              params:
              - 165
              - commitment: finalized
      responses:
        '200':
          description: Successful `getMinimumBalanceForRentExemption` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: integer
                      format: int64
                      description: Minimum balance in lamports.
                      example: 2039280
              example:
                jsonrpc: '2.0'
                id: 1
                result: 2039280
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getRecentPrioritizationFees:
    post:
      operationId: getRecentPrioritizationFees
      summary: getRecentPrioritizationFees — Recent prioritization fees
      tags:
      - Fees
      description: |
        Returns recent priority fees observed in the last 150 blocks, optionally constrained to accounts.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `addresses` (optional) — Optional list of account pubkeys to scope priority fees to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getRecentPrioritizationFees
                  description: Must be `getRecentPrioritizationFees`.
                  example: getRecentPrioritizationFees
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 0
                  maxItems: 1
            example:
              jsonrpc: '2.0'
              id: 1
              method: getRecentPrioritizationFees
              params:
              - - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
      responses:
        '200':
          description: Successful `getRecentPrioritizationFees` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        properties:
                          slot:
                            type: integer
                            format: int64
                          prioritizationFee:
                            type: integer
                            format: int64
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                - slot: 416997125
                  prioritizationFee: 0
                - slot: 416997126
                  prioritizationFee: 0
                - slot: 416997127
                  prioritizationFee: 1000
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
  /getSignaturesForAddress:
    post:
      operationId: getSignaturesForAddress
      summary: getSignaturesForAddress — Signatures involving an address
      tags:
      - Transactions
      description: |
        Returns confirmed signatures for transactions involving the given address, newest first.

        > **How to call this method**
        >
        > All Solana JSON-RPC requests POST to the **root path** (`/`) of the
        > chosen SVS RPC server. The path shown above (e.g. `/getBalance`) is a
        > documentation grouping — it lets each method render as its own
        > operation. The actual method dispatch happens via the `method` field
        > in the request body.

        **Parameters**

        0. `pubkey` (required) — Base-58 encoded public key.
        1. `config` (optional) — Optional configuration object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getSignaturesForAddress
                  description: Must be `getSignaturesForAddress`.
                  example: getSignaturesForAddress
                params:
                  type: array
                  description: Positional parameters. See each item below.
                  minItems: 1
                  maxItems: 2
            example:
              jsonrpc: '2.0'
              id: 1
              method: getSignaturesForAddress
              params:
              - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
              - limit: 10
      responses:
        '200':
          description: Successful `getSignaturesForAddress` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        properties:
                          signature:
                            type: string
                          slot:
                            type: integer
                            format: int64
                          err:
                            type: object
                            nullable: true
                            additionalProperties: true
                          memo:
                            type: string
                            nullable: true
                          blockTime:
                            type: integer
                            format: int64
                            nullable: true
                          confirmationStatus:
[...]
