# Generated by scripts/generate-rpc-specs.py — edit the generator, not this file.
openapi: 3.0.3
info:
  title: Solana Vibe Station RPC
  description: |
    Solana JSON-RPC 2.0 endpoints hosted by Solana Vibe Station.

    Each method is documented as its own OpenAPI operation. In production all
    requests POST to the **root path** (`/`) of the chosen server URL — the
    method shown in the path (e.g. `/getBalance`) is a documentation grouping
    so each operation can be embedded individually in the docs.
  version: 2.0.0
  contact:
    name: Solana Vibe Station
    url: https://www.solanavibestation.com
  license:
    name: MIT OR Apache-2.0
    url: https://opensource.org/licenses/MIT
servers:
- url: https://public.rpc.solanavibestation.com
  description: Public endpoint (rate-limited, no auth)
- url: https://lite.rpc.solanavibestation.com
  description: Lite tier
- url: https://basic.rpc.solanavibestation.com
  description: Basic tier
- url: https://ultra.rpc.solanavibestation.com
  description: Ultra tier
- url: https://elite.rpc.solanavibestation.com
  description: Elite tier
- url: https://epic.rpc.solanavibestation.com
  description: Epic tier
- url: https://basic.swqos.solanavibestation.com
  description: Basic tier with Stake-Weighted QoS
- url: https://ultra.swqos.solanavibestation.com
  description: Ultra tier with Stake-Weighted QoS
- url: https://elite.swqos.solanavibestation.com
  description: Elite tier with Stake-Weighted QoS
tags:
- name: Account
  description: Account state, balances, and SPL token accounts.
- name: Block
  description: Block production, lookups, and timing.
- name: Cluster
  description: Cluster topology, epoch info, and node identity.
- name: Fees
  description: Blockhash, fee estimation, and prioritization fees.
- name: Transactions
  description: Submission, simulation, and lookup of transactions.
- name: Slots
  description: Current slot, slot leaders, and leader schedule.
- name: Stake
  description: Stake account utilities.
- name: Validators
  description: Vote accounts and validator status.
- name: Inflation
  description: Inflation governor, rate, and rewards.
- name: Supply
  description: Total SOL supply and largest accounts.
- name: Misc
  description: Airdrops, performance samples, and miscellany.
paths:
  /getAccountInfo:
    post:
      operationId: getAccountInfo
      summary: getAccountInfo — Account info for a single pubkey
      tags:
      - Account
      description: |
        Returns all information associated with the account of provided Pubkey
        **Parameters**

        0. `pubkey` (required) — Base-58 encoded public key.
        1. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getAccountInfo
                  description: Must be `getAccountInfo`.
                  example: getAccountInfo
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 1
                  maxItems: 2
                  items:
                    anyOf:
                    - title: pubkey
                      type: string
                      description: Base-58 encoded public key.
                      example: 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
                        encoding:
                          $ref: '#/components/schemas/Encoding'
                        dataSlice:
                          type: object
                          description: Optional byte range of the account data to return. Use this to fetch only a slice of large accounts and save bandwidth.
                          properties:
                            offset:
                              type: integer
                              format: int64
                              description: Number of bytes from the start of account data at which the slice begins.
                              example: 0
                            length:
                              type: integer
                              format: int64
                              description: Number of bytes to include in the slice, starting from `offset`.
                              example: 64
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getAccountInfo
                  params:
                  - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                  - encoding: base64
                    commitment: finalized
              json_parsed:
                summary: Use jsonParsed to get program-aware decoding (e.g. SPL token accounts).
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getAccountInfo
                  params:
                  - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                  - encoding: jsonParsed
                    commitment: finalized
              with_data_slice:
                summary: Fetch only the first 64 bytes of the account's data field.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getAccountInfo
                  params:
                  - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                  - encoding: base64
                    dataSlice:
                      offset: 0
                      length: 64
      responses:
        '200':
          description: Successful `getAccountInfo` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          $ref: '#/components/schemas/AccountInfo'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                    lamports: 1000000
                    owner: '11111111111111111111111111111111'
                    executable: false
                    rentEpoch: 18446744073709551615
                    space: 0
                    data:
                    - ''
                    - base64
        '401': &id001
          $ref: '#/components/responses/UnauthorizedError'
        '403': &id002
          $ref: '#/components/responses/ForbiddenError'
        '429': &id003
          $ref: '#/components/responses/TooManyRequestsError'
        '500': &id004
          $ref: '#/components/responses/InternalServerError'
      security: &id005
      - {}
      - AuthHeader: []
      - URLParameter: []
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getAccountInfo","params":["83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri",{"encoding":"base64","commitment":"finalized"}]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          pubkey = Pubkey.from_string("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq")
          resp = client.get_account_info(pubkey, encoding="base64")
          print(resp.value)
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const pubkey = new PublicKey("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq");
          const accountInfo = await connection.getAccountInfo(pubkey);
          console.log(accountInfo);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          let pubkey = Pubkey::from_str("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq")?;
          let account = client.get_account(&pubkey)?;
          println!("{:?}", account);
  /getBalance:
    post:
      operationId: getBalance
      summary: getBalance — Lamport balance for a pubkey
      tags:
      - Account
      description: |
        Returns the lamport balance of the account of provided Pubkey. The balance is returned in lamports, where 1 SOL = 1,000,000,000 lamports.
        **Parameters**

        0. `pubkey` (required) — Base-58 encoded public key.
        1. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBalance
                  description: Must be `getBalance`.
                  example: getBalance
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 1
                  maxItems: 2
                  items:
                    anyOf:
                    - title: pubkey
                      type: string
                      description: Base-58 encoded public key.
                      example: 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBalance
                  params:
                  - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                  - commitment: finalized
              with_commitment:
                summary: Specify a commitment level explicitly.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBalance
                  params:
                  - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                  - commitment: confirmed
              with_min_context_slot:
                summary: Require the node's root to be at or above a specific slot before responding.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBalance
                  params:
                  - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                  - commitment: confirmed
                    minContextSlot: 416990000
      responses:
        '200':
          description: Successful `getBalance` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: integer
                          format: int64
                          description: Balance in lamports.
                          example: 1000000
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value: 1000000
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getBalance","params":["83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri",{"commitment":"finalized"}]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          pubkey = Pubkey.from_string("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq")
          resp = client.get_balance(pubkey)
          print(f"{resp.value} lamports")
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const pubkey = new PublicKey("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq");
          const lamports = await connection.getBalance(pubkey);
          console.log(`${lamports} lamports`);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          let pubkey = Pubkey::from_str("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq")?;
          let lamports = client.get_balance(&pubkey)?;
          println!("{} lamports", lamports);
  /getMultipleAccounts:
    post:
      operationId: getMultipleAccounts
      summary: getMultipleAccounts — Account info for many pubkeys
      tags:
      - Account
      description: |
        Returns account information for multiple accounts in a single request. This is more efficient than making multiple getAccountInfo calls when you need to fetch data from several accounts at once. You can request up to 100 accounts per call.
        **Parameters**

        0. `pubkeys` (required) — Array of base-58 encoded pubkeys, max 100.
        1. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getMultipleAccounts
                  description: Must be `getMultipleAccounts`.
                  example: getMultipleAccounts
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 1
                  maxItems: 2
                  items:
                    anyOf:
                    - title: pubkeys
                      type: array
                      items:
                        type: string
                        description: Account pubkey, base-58.
                        example: 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                      description: Pubkeys to query, max 100 per request. Order is preserved in the response.
                      maxItems: 100
                      minItems: 1
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
                        encoding:
                          $ref: '#/components/schemas/Encoding'
                        dataSlice:
                          type: object
                          description: Optional byte range of the account data to return. Use this to fetch only a slice of large accounts and save bandwidth.
                          properties:
                            offset:
                              type: integer
                              format: int64
                              description: Number of bytes from the start of account data at which the slice begins.
                              example: 0
                            length:
                              type: integer
                              format: int64
                              description: Number of bytes to include in the slice, starting from `offset`.
                              example: 64
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getMultipleAccounts
                  params:
                  - - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                    - '11111111111111111111111111111111'
                  - encoding: base64
              json_parsed:
                summary: Decode known program account layouts (SPL token, stake, etc.) with jsonParsed.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getMultipleAccounts
                  params:
                  - - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                    - '11111111111111111111111111111111'
                  - encoding: jsonParsed
      responses:
        '200':
          description: Successful `getMultipleAccounts` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: array
                          items:
                            $ref: '#/components/schemas/AccountInfo'
                          description: One account per requested pubkey, in order. Null for pubkeys that don't exist.
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                  - lamports: 1000000
                    owner: '11111111111111111111111111111111'
                    executable: false
                    rentEpoch: 0
                    space: 0
                    data:
                    - ''
                    - base64
                  - null
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getMultipleAccounts","params":[["83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri","11111111111111111111111111111111"],{"encoding":"base64"}]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          pubkeys = [
              Pubkey.from_string("83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri"),
              Pubkey.from_string("11111111111111111111111111111111"),
          ]
          resp = client.get_multiple_accounts(pubkeys, encoding="base64")
          for i, account in enumerate(resp.value):
              print(f"{pubkeys[i]}: {account}")
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const pubkeys = [
            new PublicKey("83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri"),
            new PublicKey("11111111111111111111111111111111"),
          ];
          const accounts = await connection.getMultipleAccountsInfo(pubkeys);
          console.log(accounts);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          let pubkeys = [
              Pubkey::from_str("83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri")?,
              Pubkey::from_str("11111111111111111111111111111111")?,
          ];
          let accounts = client.get_multiple_accounts(&pubkeys)?;
          println!("{:?}", accounts);
  /getProgramAccounts:
    post:
      operationId: getProgramAccounts
      summary: getProgramAccounts — All accounts owned by a program
      tags:
      - Account
      description: |
        Returns all accounts owned by a given program. This method is useful for finding all accounts associated with a specific program, such as all token accounts for a particular token mint or all accounts created by a custom program. You can apply filters to narrow down the results. SPL/SPL2022 Token Program Requirements: When querying SPL or SPL2022 token programs, the configuration object must include: filters (array, required): An array of filters to apply to the accounts. Must contain the dataSize filter. Must be one of the known lengths for SPL/SPL2022 program accounts (mint= 82 , token= 165 ) or a larger value when filtering for SPL2022 accounts with extensions. When filtering for multisig accounts, the size must be 355 for accounts of both programs. When filtering for token accounts : Must contain at least one memcmp filter. Only the mint ( offset = 0 , 32 bytes data length) and the owner ( offset = 32 , 32 bytes data length) filters are supported.
        **Parameters**

        0. `programId` (required) — Program pubkey, base-58.
        1. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getProgramAccounts
                  description: Must be `getProgramAccounts`.
                  example: getProgramAccounts
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 1
                  maxItems: 2
                  items:
                    anyOf:
                    - title: programId
                      type: string
                      description: Program pubkey, base-58.
                      example: 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
                        encoding:
                          $ref: '#/components/schemas/Encoding'
                        dataSlice:
                          type: object
                          properties:
                            offset:
                              type: integer
                              format: int64
                            length:
                              type: integer
                              format: int64
                        filters:
                          type: array
                          items:
                            type: object
                            description: A filter that matches accounts whose data length equals `dataSize`, or whose data at `memcmp.offset` equals `memcmp.bytes`. Provide one of the two keys per filter.
                            properties:
                              dataSize:
                                type: integer
                                format: int64
                                description: Exact account data size, in bytes. Match accounts whose data is exactly this many bytes long.
                                example: 165
                              memcmp:
                                type: object
                                description: Match accounts whose data at `offset` equals `bytes` (encoded per `encoding`).
                                properties:
                                  offset:
                                    type: integer
                                    format: int64
                                    description: Byte offset into the account data.
                                    example: 0
                                  bytes:
                                    type: string
                                    description: Bytes to match against, base-58 or base-64.
                                    example: 3Mc6vR
                                  encoding:
                                    type: string
                                    description: Encoding for the `bytes` field.
                                    example: base58
                                    enum:
                                    - base58
                                    - base64
                          description: Optional list of filters. Each filter narrows the result set; the server intersects them. Use `dataSize` to filter by account data length, and `memcmp` to filter by byte-equal at a given offset.
                        withContext:
                          type: boolean
                          description: If true, wrap the response in a `{context, value}` envelope. Default is false (return the array directly).
                          example: true
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getProgramAccounts
                  params:
                  - TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
                  - encoding: base64
                    filters:
                    - dataSize: 165
              with_filters:
                summary: Filter by data size + memcmp on the SPL Token program (mint authority offset).
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getProgramAccounts
                  params:
                  - TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
                  - encoding: base64
                    filters:
                    - dataSize: 165
                    - memcmp:
                        offset: 0
                        bytes: 3Mc6vR
                        encoding: base58
              with_context:
                summary: Wrap the response in a `{context, value}` envelope so you get the slot back too.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getProgramAccounts
                  params:
                  - TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
                  - encoding: base64
                    withContext: true
      responses:
        '200':
          description: Successful `getProgramAccounts` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        required:
                        - pubkey
                        - account
                        properties:
                          pubkey:
                            type: string
                          account:
                            $ref: '#/components/schemas/AccountInfo'
                      description: Array of {pubkey, account} pairs.
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                - pubkey: 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                  account:
                    lamports: 2039280
                    owner: TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
                    executable: false
                    rentEpoch: 0
                    space: 165
                    data:
                    - ''
                    - base64
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getProgramAccounts","params":["TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq",{"encoding":"base64","filters":[{"dataSize":165}]}]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          from solana.rpc.types import MemcmpOpts
          from solana.rpc.api import Client
          program_id = Pubkey.from_string("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq")
          resp = client.get_program_accounts(program_id, encoding="base64")
          print(f"{len(resp.value)} accounts")
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const programId = new PublicKey("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq");
          const accounts = await connection.getProgramAccounts(programId, {
            filters: [{ dataSize: 165 }],
          });
          console.log(`${accounts.length} accounts`);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          let program_id = Pubkey::from_str("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq")?;
          let accounts = client.get_program_accounts(&program_id)?;
          println!("{} accounts", accounts.len());
  /getTokenAccountBalance:
    post:
      operationId: getTokenAccountBalance
      summary: getTokenAccountBalance — Token account balance
      tags:
      - Account
      description: |
        Returns the token balance of an SPL Token account.
        **Parameters**

        0. `pubkey` (required) — Token account pubkey, base-58.
        1. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTokenAccountBalance
                  description: Must be `getTokenAccountBalance`.
                  example: getTokenAccountBalance
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 1
                  maxItems: 2
                  items:
                    anyOf:
                    - title: pubkey
                      type: string
                      description: Token account pubkey, base-58.
                      example: 7UVpfyV3PzWxNw3pcU88WGGgC4XSiTNVTPMK6P7vrqCi
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getTokenAccountBalance
                  params:
                  - 7UVpfyV3PzWxNw3pcU88WGGgC4XSiTNVTPMK6P7vrqCi
                  - commitment: finalized
      responses:
        '200':
          description: Successful `getTokenAccountBalance` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          $ref: '#/components/schemas/UiTokenAmount'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                    amount: '1000000'
                    decimals: 6
                    uiAmount: 1.0
                    uiAmountString: '1'
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getTokenAccountBalance","params":["7UVpfyV3PzWxNw3pcU88WGGgC4XSiTNVTPMK6P7vrqCi",{"commitment":"finalized"}]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          token_account = Pubkey.from_string("7UVpfyV3PzWxNw3pcU88WGGgC4XSiTNVTPMK6P7vrqCi")
          resp = client.get_token_account_balance(token_account)
          print(f"{resp.value.ui_amount_string} ({resp.value.amount} raw)")
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const tokenAccount = new PublicKey("7UVpfyV3PzWxNw3pcU88WGGgC4XSiTNVTPMK6P7vrqCi");
          const balance = await connection.getTokenAccountBalance(tokenAccount);
          console.log(balance.value.uiAmountString);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          let token_account = Pubkey::from_str("7UVpfyV3PzWxNw3pcU88WGGgC4XSiTNVTPMK6P7vrqCi")?;
          let balance = client.get_token_account_balance(&token_account)?;
          println!("{}", balance.ui_amount_string);
  /getTokenAccountsByDelegate:
    post:
      operationId: getTokenAccountsByDelegate
      summary: getTokenAccountsByDelegate — Token accounts by delegate
      tags:
      - Account
      description: |
        Returns all SPL Token accounts by approved delegate. This method is essential for finding token accounts where a specific address has been granted delegation permissions to spend tokens on behalf of the owner.
        **Parameters**

        0. `delegate` (required) — Delegate pubkey, base-58.
        1. `filter` (required) — Filter by mint or program id (one of).
        2. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTokenAccountsByDelegate
                  description: Must be `getTokenAccountsByDelegate`.
                  example: getTokenAccountsByDelegate
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 2
                  maxItems: 3
                  items:
                    anyOf:
                    - title: delegate
                      type: string
                      description: Delegate pubkey, base-58.
                      example: 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                    - title: filter
                      type: object
                      description: Filter the result set. Provide exactly one of `mint` or `programId`.
                      properties:
                        mint:
                          type: string
                          description: Filter to a specific token mint address (base-58).
                          example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                        programId:
                          type: string
                          description: Filter to a token program (base-58). Typically the SPL Token or Token-2022 program id.
                          example: TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
                        encoding:
                          $ref: '#/components/schemas/Encoding'
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getTokenAccountsByDelegate
                  params:
                  - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                  - programId: TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
                  - encoding: jsonParsed
      responses:
        '200':
          description: Successful `getTokenAccountsByDelegate` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: array
                          items:
                            type: object
                            properties:
                              pubkey:
                                type: string
                              account:
                                $ref: '#/components/schemas/AccountInfo'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value: []
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getTokenAccountsByDelegate","params":["83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri",{"programId":"TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq"},{"encoding":"jsonParsed"}]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          from solana.rpc.types import TokenAccountOpts
          delegate = Pubkey.from_string("83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri")
          opts = TokenAccountOpts(program_id=Pubkey.from_string("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq"))
          resp = client.get_token_accounts_by_delegate(delegate, opts)
          print(f"{len(resp.value)} delegated accounts")
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const delegate = new PublicKey("83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri");
          const tokenProgram = new PublicKey("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq");
          const accounts = await connection.getTokenAccountsByDelegate(delegate, { programId: tokenProgram });
          console.log(`${accounts.value.length} delegated accounts`);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          use solana_client::rpc_request::TokenAccountsFilter;
          let delegate = Pubkey::from_str("83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri")?;
          let token_program = Pubkey::from_str("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq")?;
          let accounts = client.get_token_accounts_by_delegate(&delegate, TokenAccountsFilter::ProgramId(token_program))?;
          println!("{} delegated accounts", accounts.len());
  /getTokenAccountsByOwner:
    post:
      operationId: getTokenAccountsByOwner
      summary: getTokenAccountsByOwner — Token accounts by owner
      tags:
      - Account
      description: |
        Returns all SPL Token accounts by token owner.
        **Parameters**

        0. `owner` (required) — Owner pubkey, base-58.
        1. `filter` (required) — Filter by mint or program id (one of).
        2. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTokenAccountsByOwner
                  description: Must be `getTokenAccountsByOwner`.
                  example: getTokenAccountsByOwner
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 2
                  maxItems: 3
                  items:
                    anyOf:
                    - title: owner
                      type: string
                      description: Owner pubkey, base-58.
                      example: 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                    - title: filter
                      type: object
                      description: Filter the result set. Provide exactly one of `mint` or `programId`.
                      properties:
                        mint:
                          type: string
                          description: Filter to a specific token mint address (base-58).
                          example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                        programId:
                          type: string
                          description: Filter to a token program (base-58). Typically the SPL Token or Token-2022 program id.
                          example: TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
                        encoding:
                          $ref: '#/components/schemas/Encoding'
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getTokenAccountsByOwner
                  params:
                  - 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                  - programId: TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq
                  - encoding: jsonParsed
      responses:
        '200':
          description: Successful `getTokenAccountsByOwner` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: array
                          items:
                            type: object
                            properties:
                              pubkey:
                                type: string
                              account:
                                $ref: '#/components/schemas/AccountInfo'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value: []
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getTokenAccountsByOwner","params":["83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri",{"programId":"TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq"},{"encoding":"jsonParsed"}]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          from solana.rpc.types import TokenAccountOpts
          owner = Pubkey.from_string("83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri")
          opts = TokenAccountOpts(program_id=Pubkey.from_string("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq"))
          resp = client.get_token_accounts_by_owner(owner, opts)
          print(f"{len(resp.value)} token accounts")
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const owner = new PublicKey("83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri");
          const tokenProgram = new PublicKey("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq");
          const accounts = await connection.getTokenAccountsByOwner(owner, { programId: tokenProgram });
          console.log(`${accounts.value.length} token accounts`);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          use solana_client::rpc_request::TokenAccountsFilter;
          let owner = Pubkey::from_str("83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri")?;
          let token_program = Pubkey::from_str("TokenkegQfeZyiNwAJsyFbPVwwQnLjMi6tsmbMrWcbq")?;
          let accounts = client.get_token_accounts_by_owner(&owner, TokenAccountsFilter::ProgramId(token_program))?;
          println!("{} token accounts", accounts.len());
  /getTokenLargestAccounts:
    post:
      operationId: getTokenLargestAccounts
      summary: getTokenLargestAccounts — 20 largest accounts of a token
      tags:
      - Account
      description: |
        Returns the 20 largest accounts of a particular SPL Token type. This method is essential for analyzing token distribution, identifying whale accounts, and understanding token concentration patterns.
        **Parameters**

        0. `mint` (required) — Token mint pubkey, base-58.
        1. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTokenLargestAccounts
                  description: Must be `getTokenLargestAccounts`.
                  example: getTokenLargestAccounts
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 1
                  maxItems: 2
                  items:
                    anyOf:
                    - title: mint
                      type: string
                      description: Token mint pubkey, base-58.
                      example: 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getTokenLargestAccounts
                  params:
                  - EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: Successful `getTokenLargestAccounts` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          type: array
                          items:
                            type: object
                            properties:
                              address:
                                type: string
                              amount:
                                type: string
                              decimals:
                                type: integer
                                format: int64
                              uiAmount:
                                type: number
                                nullable: true
                              uiAmountString:
                                type: string
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                  - address: 7UVpfyV3PzWxNw3pcU88WGGgC4XSiTNVTPMK6P7vrqCi
                    amount: '1000000'
                    decimals: 6
                    uiAmount: 1.0
                    uiAmountString: '1'
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getTokenLargestAccounts","params":["EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          mint = Pubkey.from_string("EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v")
          resp = client.get_token_largest_accounts(mint)
          for entry in resp.value[:5]:
              print(f"{entry.address}: {entry.ui_amount_string}")
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const mint = new PublicKey("EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v");
          const largest = await connection.getTokenLargestAccounts(mint);
          for (const entry of largest.value.slice(0, 5)) {
            console.log(`${entry.address}: ${entry.uiAmountString}`);
          }
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          let mint = Pubkey::from_str("EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v")?;
          let largest = client.get_token_largest_accounts(&mint)?;
          for entry in largest.iter().take(5) {
              println!("{}: {}", entry.address, entry.ui_amount_string);
          }
  /getTokenSupply:
    post:
      operationId: getTokenSupply
      summary: getTokenSupply — Total supply of a token
      tags:
      - Account
      description: |
        Returns the total supply of an SPL Token type. This method is essential for understanding token economics, monitoring token distribution, and tracking token supply changes over time.
        **Parameters**

        0. `mint` (required) — Token mint pubkey, base-58.
        1. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTokenSupply
                  description: Must be `getTokenSupply`.
                  example: getTokenSupply
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 1
                  maxItems: 2
                  items:
                    anyOf:
                    - title: mint
                      type: string
                      description: Token mint pubkey, base-58.
                      example: 83astBRguLMdt2h5U1Tpdq5tjFoJ6noeGwaY3mDLVcri
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getTokenSupply
                  params:
                  - EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        '200':
          description: Successful `getTokenSupply` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - context
                      - value
                      properties:
                        context:
                          $ref: '#/components/schemas/Context'
                        value:
                          $ref: '#/components/schemas/UiTokenAmount'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  context:
                    slot: 416997240
                    apiVersion: 3.1.10
                  value:
                    amount: '9046067177782798'
                    decimals: 6
                    uiAmount: 9046067177.782799
                    uiAmountString: '9046067177.782798'
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getTokenSupply","params":["EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          mint = Pubkey.from_string("EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v")
          resp = client.get_token_supply(mint)
          print(f"{resp.value.ui_amount_string} {mint}")
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const mint = new PublicKey("EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v");
          const supply = await connection.getTokenSupply(mint);
          console.log(supply.value.uiAmountString);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          let mint = Pubkey::from_str("EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v")?;
          let supply = client.get_token_supply(&mint)?;
          println!("{}", supply.ui_amount_string);
  /getBlock:
    post:
      operationId: getBlock
      summary: getBlock — Block by slot
      tags:
      - Block
      description: |
        Returns identity and transaction information about a confirmed block in the ledger. Provides detailed block data including all transactions and their metadata.
        **Parameters**

        0. `slot` (required) — Slot number to fetch.
        1. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlock
                  description: Must be `getBlock`.
                  example: getBlock
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 1
                  maxItems: 2
                  items:
                    anyOf:
                    - title: slot
                      type: integer
                      format: int64
                      description: Slot number.
                      example: 416997240
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
                        encoding:
                          $ref: '#/components/schemas/Encoding'
                        transactionDetails:
                          $ref: '#/components/schemas/TransactionDetails'
                        rewards:
                          type: boolean
                          description: Include block rewards in the response. Default false.
                          example: false
                        maxSupportedTransactionVersion:
                          type: integer
                          format: int64
                          description: 0 includes versioned transactions; omit for legacy-only.
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlock
                  params:
                  - 416997240
                  - maxSupportedTransactionVersion: 0
                    transactionDetails: full
              signatures_only:
                summary: Fetch a block but only return signatures, not full transactions. Much smaller payload.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlock
                  params:
                  - 416997240
                  - transactionDetails: signatures
                    rewards: false
                    maxSupportedTransactionVersion: 0
              with_rewards:
                summary: Include block-level rewards (stake/voting payouts) in the response.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlock
                  params:
                  - 416997240
                  - rewards: true
                    maxSupportedTransactionVersion: 0
      responses:
        '200':
          description: Successful `getBlock` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - blockhash
                      - previousBlockhash
                      - parentSlot
                      - transactions
                      - blockHeight
                      properties:
                        blockhash:
                          type: string
                        previousBlockhash:
                          type: string
                        parentSlot:
                          type: integer
                          format: int64
                        blockHeight:
                          type: integer
                          format: int64
                        blockTime:
                          type: integer
                          format: int64
                          nullable: true
                        transactions:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                        rewards:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  blockhash: 3Eq21vXNB5s86c62bVuUfTeaMif1N2kUqRPBmGRJhyTA
                  previousBlockhash: mfcyqEXB3DnHXki6KjjmZck6YjmZLvpAByy2fj4nh6B
                  parentSlot: 416997239
                  blockHeight: 395090168
                  blockTime: 1777683570
                  transactions: []
                  rewards: []
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getBlock","params":[416997240,{"maxSupportedTransactionVersion":0,"transactionDetails":"full"}]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          resp = client.get_block(slot=416997240, max_supported_transaction_version=0)
          print(f"blockhash={resp.value.blockhash} txs={len(resp.value.transactions or [])}")
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const block = await connection.getBlock(416997240, { maxSupportedTransactionVersion: 0 });
          console.log(`blockhash=${block.blockhash} txs=${block.transactions.length}`);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          use solana_transaction_status::UiTransactionEncoding;
          let block = client.get_block_with_encoding(416997240, UiTransactionEncoding::Json)?;
          println!("blockhash={} txs={}", block.blockhash, block.transactions.len());
  /getBlockHeight:
    post:
      operationId: getBlockHeight
      summary: getBlockHeight — Current block height
      tags:
      - Block
      description: |
        Returns the current block height of the node. Block height is the number of blocks that have been produced since the genesis block. This is different from slot numbers, as blocks represent confirmed batches of transactions.
        **Parameters**

        0. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlockHeight
                  description: Must be `getBlockHeight`.
                  example: getBlockHeight
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 0
                  maxItems: 1
                  items:
                    anyOf:
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlockHeight
                  params:
                  - commitment: finalized
      responses:
        '200':
          description: Successful `getBlockHeight` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: integer
                      format: int64
                      description: Current block height.
                      example: 395090168
              example:
                jsonrpc: '2.0'
                id: 1
                result: 395090168
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getBlockHeight","params":[{"commitment":"finalized"}]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          print(client.get_block_height().value)
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          console.log(await connection.getBlockHeight());
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          println!("{}", client.get_block_height()?);
  /getBlocks:
    post:
      operationId: getBlocks
      summary: getBlocks — Confirmed blocks in a range
      tags:
      - Block
      description: |
        Returns a list of confirmed blocks between two slots
        **Parameters**

        0. `startSlot` (required) — Start slot (inclusive).
        1. `endSlot` (optional) — End slot (inclusive).
        2. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlocks
                  description: Must be `getBlocks`.
                  example: getBlocks
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 1
                  maxItems: 3
                  items:
                    anyOf:
                    - title: startSlot
                      type: integer
                      format: int64
                      example: 416997230
                    - title: endSlot (optional)
                      type: integer
                      format: int64
                      example: 416997240
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlocks
                  params:
                  - 416997230
                  - 416997240
              open_ended:
                summary: Pass only `startSlot`; the node returns up to ~500k subsequent confirmed blocks.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlocks
                  params:
                  - 416997230
      responses:
        '200':
          description: Successful `getBlocks` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: integer
                        format: int64
                      description: Confirmed slots.
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                - 416997230
                - 416997231
                - 416997234
                - 416997235
                - 416997240
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getBlocks","params":[416997230,416997240]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          resp = client.get_blocks(start_slot=416997230, end_slot=416997240)
          print(resp.value)
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const blocks = await connection.getBlocks(416997230, 416997240);
          console.log(blocks);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          let blocks = client.get_blocks(416997230, Some(416997240))?;
          println!("{:?}", blocks);
  /getBlocksWithLimit:
    post:
      operationId: getBlocksWithLimit
      summary: getBlocksWithLimit — Confirmed blocks starting at slot
      tags:
      - Block
      description: |
        Returns a list of confirmed blocks starting at the given slot. This method provides an efficient way to retrieve a range of sequential block slots, which is useful for block explorers, analytics tools, and applications that need to process historical blockchain data in batches. Important : The limit must be no more than 500,000 blocks higher than the start_slot.
        **Parameters**

        0. `startSlot` (required) — Start slot.
        1. `limit` (required) — Maximum number of blocks (max 500,000).
        2. `config` (optional) — Optional configuration object. Every field is optional; omit the entire object to use defaults.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlocksWithLimit
                  description: Must be `getBlocksWithLimit`.
                  example: getBlocksWithLimit
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 2
                  maxItems: 3
                  items:
                    anyOf:
                    - title: startSlot
                      type: integer
                      format: int64
                      example: 416997230
                    - title: limit
                      type: integer
                      format: int64
                      example: 10
                      maximum: 500000
                    - title: config (optional)
                      type: object
                      description: Optional configuration object. Every field is optional; omit the entire object to use defaults.
                      properties:
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        minContextSlot:
                          type: integer
                          format: int64
                          description: Minimum slot at which the request can be evaluated. The RPC node will reject the request with a `MinContextSlotNotReached` error if its current root is below this value. Use this for read-after-write consistency in multi-step workflows.
                          example: 416990000
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlocksWithLimit
                  params:
                  - 416997230
                  - 10
      responses:
        '200':
          description: Successful `getBlocksWithLimit` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: array
                      items:
                        type: integer
                        format: int64
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                - 416997230
                - 416997231
                - 416997234
                - 416997235
                - 416997240
                - 416997242
                - 416997243
                - 416997244
                - 416997245
                - 416997246
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
            -d '{"jsonrpc":"2.0","id":1,"method":"getBlocksWithLimit","params":[416997230,10]}'
      - lang: python
        label: Python
        source: |-
          from solana.rpc.api import Client
          from solders.pubkey import Pubkey

          client = Client("https://public.rpc.solanavibestation.com")

          # solana-py doesn't expose this directly; use the raw transport.
          import requests
          r = requests.post("https://public.rpc.solanavibestation.com", json={
              "jsonrpc": "2.0", "id": 1, "method": "getBlocksWithLimit",
              "params": [416997230, 10]
          }).json()
          print(r["result"])
      - lang: javascript
        label: JavaScript
        source: |-
          import { Connection, PublicKey } from "@solana/web3.js";

          const connection = new Connection("https://public.rpc.solanavibestation.com", "confirmed");

          const blocks = await connection.getBlocksWithLimit(416997230, 10);
          console.log(blocks);
      - lang: rust
        label: Rust
        source: |-
          use solana_client::rpc_client::RpcClient;
          use solana_sdk::pubkey::Pubkey;
          use std::str::FromStr;

          let client = RpcClient::new("https://public.rpc.solanavibestation.com".to_string());

          let blocks = client.get_blocks_with_limit(416997230, 10)?;
          println!("{:?}", blocks);
  /getBlockTime:
    post:
      operationId: getBlockTime
      summary: getBlockTime — Estimated production time of a block
      tags:
      - Block
      description: |
        Returns the estimated production time of a block. Each validator reports their UTC time to the ledger on a regular interval by intermittently adding a timestamp to a Vote for a particular block. A requested block's time is calculated from the stake-weighted mean of the Vote timestamps in a set of recent blocks recorded on the ledger.
        **Parameters**

        0. `slot` (required) — Slot number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getBlockTime
                  description: Must be `getBlockTime`.
                  example: getBlockTime
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 1
                  maxItems: 1
                  items:
                    anyOf:
                    - title: slot
                      type: integer
                      format: int64
                      example: 416997240
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getBlockTime
                  params:
                  - 378967388
      responses:
        '200':
          description: Successful `getBlockTime` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: integer
                      format: int64
                      description: Unix timestamp seconds, or null if unavailable.
                      nullable: true
              example:
                jsonrpc: '2.0'
                id: 1
                result: 1777683570
        '401': *id001
        '403': *id002
        '429': *id003
        '500': *id004
      security: *id005
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com \
            -H "Content-Type: application/json" \
[...]
