# Generated by scripts/generate-rpc-specs.py — edit the generator, not this file.
openapi: 3.0.3
info:
  title: 'Historical RPC: getTransactionsForAddress'
  description: '`getTransactionsForAddress` invoked over the SVS historical JSON-RPC archive. All historical methods POST to `/historical` with the method name in the JSON-RPC request body, exactly like the main RPC.'
  version: 1.0.0
  contact:
    name: Solana Vibe Station
    url: https://www.solanavibestation.com
  license:
    name: MIT OR Apache-2.0
    url: https://opensource.org/licenses/MIT
servers:
- url: https://public.rpc.solanavibestation.com
  description: Public endpoint (rate-limited, no auth)
- url: https://basic.rpc.solanavibestation.com
  description: Basic tier
- url: https://ultra.rpc.solanavibestation.com
  description: Ultra tier
- url: https://elite.rpc.solanavibestation.com
  description: Elite tier
- url: https://epic.rpc.solanavibestation.com
  description: Epic tier
tags:
- name: Transactions
  description: Historical RPC transactions method.
paths:
  /historical:
    post:
      operationId: getTransactionsForAddress
      summary: getTransactionsForAddress — Filtered transaction history for an address
      tags:
      - Transactions
      description: |
        Enhanced transaction history API with powerful filtering, sorting, and pagination capabilities for retrieving comprehensive transaction data for any address. Supports bidirectional sorting, time/slot/status filtering, and efficient keyset pagination via the `paginationToken` cursor.

        **Note:** SVS supports the same parameter shape as the upstream provider with one exception — the `filters.tokenAccounts` field is **not supported** on Solana Vibe Station. All other filters (`slot`, `blockTime`, `signature`, `status`) work as documented.
        **Parameters**

        0. `address` (required) — Solana account address whose transaction history to retrieve. May be a wallet, token mint, program, NFT, etc.
        1. `config` (optional) — Optional configuration controlling sort order, pagination, transaction detail level, and filters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  description: JSON-RPC protocol version.
                  example: '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                  description: Request identifier echoed back in the response.
                  example: 1
                method:
                  type: string
                  enum:
                  - getTransactionsForAddress
                  description: Must be `getTransactionsForAddress`.
                  example: getTransactionsForAddress
                params:
                  type: array
                  description: Positional parameters. Each item below corresponds to one position in the array, in order.
                  minItems: 1
                  maxItems: 2
                  items:
                    anyOf:
                    - title: address
                      type: string
                      description: Solana account address, base-58.
                      example: Vote111111111111111111111111111111111111111
                    - title: config (optional)
                      type: object
                      description: Optional configuration object for filtering, sorting, and pagination.
                      properties:
                        transactionDetails:
                          type: string
                          description: Level of transaction detail to return.
                          example: signatures
                          enum:
                          - signatures
                          - full
                          default: signatures
                        sortOrder:
                          type: string
                          description: Result ordering by slot. `desc` returns newest first.
                          example: desc
                          enum:
                          - desc
                          - asc
                          default: desc
                        commitment:
                          $ref: '#/components/schemas/Commitment'
                        limit:
                          type: integer
                          format: int64
                          description: Max records to return. 1-1000 when transactionDetails is `signatures`; 1-100 when `full`.
                          example: 10
                          minimum: 1
                          maximum: 1000
                        paginationToken:
                          type: string
                          description: Keyset pagination cursor in `slot:position` format. Pass the value returned in the previous response's `paginationToken` to fetch the next page.
                          example: '1055:5'
                        encoding:
                          $ref: '#/components/schemas/Encoding'
                        maxSupportedTransactionVersion:
                          type: integer
                          format: int64
                          description: Highest transaction version the client can handle. Only meaningful when `transactionDetails` is `full`. Set to 0 to include versioned transactions.
                          example: 0
                        filters:
                          type: object
                          description: Optional set of filters narrowing the result set. Filters intersect (AND-combined). **NOTE:** `filters.tokenAccounts` is NOT supported on SVS — it is silently ignored or rejected. All other filters below are fully supported.
                          properties:
                            slot:
                              type: object
                              description: Slot range filter. Combine fields for half-open or closed ranges.
                              properties:
                                gte:
                                  type: integer
                                  format: int64
                                  description: Match slots >= this value.
                                  example: 400000000
                                gt:
                                  type: integer
                                  format: int64
                                  description: Match slots > this value.
                                lte:
                                  type: integer
                                  format: int64
                                  description: Match slots <= this value.
                                lt:
                                  type: integer
                                  format: int64
                                  description: Match slots < this value.
                            blockTime:
                              type: object
                              description: Unix-time (seconds) range filter on block production time.
                              properties:
                                gte:
                                  type: integer
                                  format: int64
                                  description: Match block times >= this Unix timestamp.
                                  example: 1700000000
                                gt:
                                  type: integer
                                  format: int64
                                  description: Match block times > this Unix timestamp.
                                lte:
                                  type: integer
                                  format: int64
                                  description: Match block times <= this Unix timestamp.
                                lt:
                                  type: integer
                                  format: int64
                                  description: Match block times < this Unix timestamp.
                                eq:
                                  type: integer
                                  format: int64
                                  description: Match block times exactly equal to this Unix timestamp.
                            signature:
                              type: object
                              description: Signature range filter (lexicographic ordering of base-58 strings).
                              properties:
                                gte:
                                  type: string
                                  description: Match signatures >= this value (lex order).
                                gt:
                                  type: string
                                  description: Match signatures > this value (lex order).
                                lte:
                                  type: string
                                  description: Match signatures <= this value (lex order).
                                lt:
                                  type: string
                                  description: Match signatures < this value (lex order).
                            status:
                              type: string
                              description: Restrict to successful or failed transactions only.
                              example: success
                              enum:
                              - success
                              - failed
            examples:
              default:
                summary: Standard request — required params only.
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: getTransactionsForAddress
                  params:
                  - Vote111111111111111111111111111111111111111
                  - transactionDetails: signatures
                    limit: 10
      responses:
        '200':
          description: Successful `getTransactionsForAddress` response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/JsonRpcEnvelope'
                - type: object
                  required:
                  - result
                  properties:
                    result:
                      type: object
                      required:
                      - data
                      properties:
                        data:
                          type: array
                          items:
                            type: object
                            required:
                            - signature
                            - slot
                            - transactionIndex
                            - err
                            - blockTime
                            - confirmationStatus
                            properties:
                              signature:
                                type: string
                                description: Transaction signature, base-58.
                                example: 5h6xBEauJ3PK6SWCZ1PGjBvj8vDdWG3KpwATGy1ARAXFSDwt8GFXM7W5Ncn16wmqokgpiKRLuS83KUxyZyv2sUYv
                              slot:
                                type: integer
                                format: int64
                                description: Slot in which the transaction was confirmed.
                                example: 1054
                              transactionIndex:
                                type: integer
                                format: int64
                                description: Position of the transaction within its block.
                                example: 42
                              err:
                                type: object
                                description: Error object if the transaction failed; null if it succeeded.
                                nullable: true
                                additionalProperties: true
                              memo:
                                type: string
                                description: Memo attached to the transaction, if any.
                                nullable: true
                              blockTime:
                                type: integer
                                format: int64
                                description: Estimated production time of the block, in Unix seconds.
                                example: 1641038400
                                nullable: true
                              confirmationStatus:
                                type: string
                                description: Cluster commitment level when the transaction was confirmed.
                                example: finalized
                                enum:
                                - processed
                                - confirmed
                                - finalized
                          description: Transaction history records, ordered per `sortOrder`.
                        paginationToken:
                          type: string
                          description: Cursor for the next page in `slot:position` format, or null/missing when there are no more results.
                          example: '1055:5'
              example:
                jsonrpc: '2.0'
                id: 1
                result:
                  data:
                  - signature: 5h6xBEauJ3PK6SWCZ1PGjBvj8vDdWG3KpwATGy1ARAXFSDwt8GFXM7W5Ncn16wmqokgpiKRLuS83KUxyZyv2sUYv
                    slot: 1054
                    transactionIndex: 42
                    err: null
                    memo: null
                    blockTime: 1641038400
                    confirmationStatus: finalized
                  paginationToken: '1055:5'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: &id001
      - {}
      - AuthHeader: []
      - URLParameter: []
      x-codeSamples:
      - lang: shell
        label: cURL
        source: |-
          curl -X POST https://public.rpc.solanavibestation.com/historical \
            -H "Content-Type: application/json" \
            -d '{
              "jsonrpc": "2.0",
              "id": 1,
              "method": "getTransactionsForAddress",
              "params": [
                "Vote111111111111111111111111111111111111111",
                {
                  "transactionDetails": "signatures",
                  "limit": 10
                }
              ]
            }'
      - lang: python
        label: Python
        source: |-
          import requests

          resp = requests.post("https://public.rpc.solanavibestation.com/historical", json={
              "jsonrpc": "2.0", "id": 1,
              "method": "getTransactionsForAddress",
              "params": ["Vote111111111111111111111111111111111111111", {"transactionDetails": "signatures", "limit": 10}]
          }).json()
          print(resp["result"])
      - lang: javascript
        label: JavaScript
        source: |-
          const resp = await fetch("https://public.rpc.solanavibestation.com/historical", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              jsonrpc: "2.0", id: 1,
              method: "getTransactionsForAddress",
              params: ["Vote111111111111111111111111111111111111111", {"transactionDetails": "signatures", "limit": 10}]
            }),
          });
          const data = await resp.json();
          console.log(data.result);
      - lang: rust
        label: Rust
        source: |-
          use serde_json::json;

          let body = json!({
              "jsonrpc": "2.0", "id": 1,
              "method": "getTransactionsForAddress",
              "params": ["Vote111111111111111111111111111111111111111", {"transactionDetails": "signatures", "limit": 10}]
          }});
          let resp: serde_json::Value = reqwest::blocking::Client::new()
              .post("https://public.rpc.solanavibestation.com/historical").json(&body).send()?.json()?;
          println!("{}", resp["result"]);
components:
  schemas:
    JsonRpcEnvelope:
      type: object
      required:
      - jsonrpc
      - id
      description: Base envelope of every JSON-RPC 2.0 response.
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
          example: '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
          description: Echoed request id.
          example: 1
    JsonRpcErrorResponse:
      type: object
      required:
      - jsonrpc
      - id
      - error
      description: JSON-RPC 2.0 error response.
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
        error:
          $ref: '#/components/schemas/JsonRpcError'
    JsonRpcError:
      type: object
      required:
      - code
      - message
      description: Structured JSON-RPC error.
      properties:
        code:
          type: integer
          description: |
            Numeric error code per JSON-RPC 2.0 spec. Common values:
            - `-32700` Parse error
            - `-32600` Invalid Request
            - `-32601` Method not found
            - `-32602` Invalid params
            - `-32603` Internal error
            - `-32003` Unauthorized
            - `-32005` Too Many Requests
            - `-32015` Transaction version not supported
          example: -32602
        message:
          type: string
          example: Invalid params
        data:
          type: object
          additionalProperties: true
    Context:
      type: object
      description: RPC context block returned alongside most account-level results.
      required:
      - slot
      properties:
        slot:
          type: integer
          format: int64
          example: 416997240
        apiVersion:
          type: string
          example: 3.1.10
    Commitment:
      type: string
      enum:
      - processed
      - confirmed
      - finalized
      default: finalized
      description: |-
        How finalized a block is at query time:
        - `processed`: most recent block, may be skipped
        - `confirmed`: block confirmed by supermajority of cluster
        - `finalized`: block finalized by the cluster (>2/3 stake)
    Encoding:
      type: string
      enum:
      - json
      - jsonParsed
      - base58
      - base64
      - base64+zstd
      description: Encoding for transaction or account data.
    TransactionDetails:
      type: string
      enum:
      - full
      - accounts
      - signatures
      - none
      description: Level of transaction detail to return on block queries.
    AccountInfo:
      type: object
      description: On-chain account state.
      nullable: true
      required:
      - lamports
      - owner
      - executable
      - rentEpoch
      - data
      properties:
        lamports:
          type: integer
          format: int64
          description: Balance in lamports.
        owner:
          type: string
          description: Base-58 program id that owns the account.
        executable:
          type: boolean
        rentEpoch:
          type: integer
          format: int64
        space:
          type: integer
          description: Data length in bytes.
        data:
          description: Account data; encoding depends on request encoding.
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          - type: object
            additionalProperties: true
    UiTokenAmount:
      type: object
      required:
      - amount
      - decimals
      - uiAmountString
      description: Token amount with both raw and UI representations.
      properties:
        amount:
          type: string
          description: Raw amount, ignoring decimals.
        decimals:
          type: integer
        uiAmount:
          type: number
          nullable: true
        uiAmountString:
          type: string
  responses:
    UnauthorizedError:
      description: Authentication required or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    ForbiddenError:
      description: Insufficient permissions for the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    TooManyRequestsError:
      description: Rate limit exceeded for this tier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
    InternalServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonRpcErrorResponse'
  securitySchemes:
    AuthHeader:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass `Authorization: <api-key>` on each request.'
    URLParameter:
      type: apiKey
      in: query
      name: api_key
      description: Pass `?api_key=<api-key>` on the URL.
security: *id001
